Repository freqtrade/freqtrade, pull requests merged in 2019-03, with the labels that each got.

#1652 Fix/tif market order combo
  freqtrade/exchange/exchange.py
  freqtrade/tests/exchange/test_exchange.py
  freqtrade/tests/exchange/test_kraken.py
Labels: bug

#1654 Add stoploss to startup messages
  freqtrade/rpc/rpc_manager.py
Labels: RPC

#1651 Catch ModuleNotFoundError when importing external code
  freqtrade/resolvers/iresolver.py
Labels: bug

#1648 Support for systemd watchdog
  docs/bot-usage.md
  docs/configuration.md
  docs/installation.md
  freqtrade.service.watchdog
  freqtrade/arguments.py
  freqtrade/configuration.py
  freqtrade/constants.py
  freqtrade/freqtradebot.py
  freqtrade/main.py
  requirements.txt
Labels: enhancement

#1674 Telegram `/stopbuy`
  docs/telegram-usage.md
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  freqtrade/tests/rpc/test_rpc.py
  freqtrade/tests/rpc/test_rpc_telegram.py
Labels: RPC

#1697 add pairs to blacklist dynamically
  docs/telegram-usage.md
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  freqtrade/tests/conftest.py
  freqtrade/tests/rpc/test_rpc.py
  freqtrade/tests/rpc/test_rpc_telegram.py
Labels: RPC

#1698 Edge RPC
  docs/telegram-usage.md
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  freqtrade/tests/rpc/test_rpc.py
  freqtrade/tests/rpc/test_rpc_telegram.py
Labels: RPC
