Repository freqtrade/freqtrade, pull requests merged in 2019-12, with the labels that each got.

#2418 Add logging to syslog and journald
  docs/advanced-setup.md
  docs/installation.md
  freqtrade/configuration/cli_options.py
  freqtrade/loggers.py
  tests/conftest.py
  tests/test_configuration.py
Labels: Enhancement

#2606 Subcommand: test-pairlist
  docs/backtesting.md
  docs/configuration.md
  docs/utils.md
  freqtrade/configuration/arguments.py
  freqtrade/pairlist/PrecisionFilter.py
  freqtrade/utils.py
  tests/test_utils.py
Labels: Enhancement

#2618 Fix hyperopt with ticker_interval from strategy
  freqtrade/optimize/hyperopt.py
  tests/optimize/test_hyperopt.py
Labels: hyperopt

#2628 Telegram / sell duration
  docs/webhook-config.md
  freqtrade/freqtradebot.py
  freqtrade/rpc/telegram.py
  tests/rpc/test_rpc_telegram.py
  tests/test_freqtradebot.py
Labels: RPC

#2654 improve show config when using trailing stop
  freqtrade/rpc/telegram.py
  tests/rpc/test_rpc_telegram.py
Labels: RPC

#2657 [minor] Fix typo causing a trailing "tic" in /show_config output
  freqtrade/rpc/telegram.py
Labels: RPC

#2661 Introduce Dry-Run Wallet
  docs/configuration.md
  freqtrade/constants.py
  freqtrade/exchange/exchange.py
  freqtrade/freqtradebot.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  freqtrade/wallets.py
  tests/exchange/test_exchange.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
  tests/test_configuration.py
  tests/test_freqtradebot.py
  tests/test_integration.py
  tests/test_wallets.py
Labels: Enhancement

#2671 Add documentation about ohlcv_partial_candle
  docs/developer.md
  docs/exchanges.md
Labels: Documentation

#2686 Document buy / sell order pricings
  docs/configuration.md
  freqtrade/exchange/exchange.py
  freqtrade/freqtradebot.py
  tests/exchange/test_exchange.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
  tests/test_freqtradebot.py
  tests/test_integration.py
Labels: Documentation

#2710 /balance should not convert to BTC
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  tests/rpc/test_rpc_telegram.py
Labels: RPC

#2714 backtesting - Sell reason counts
  docs/backtesting.md
  freqtrade/optimize/backtesting.py
  tests/optimize/test_backtesting.py
Labels: Enhancement, backtest

#2712 add list-strategies subcommand
  docs/utils.md
  freqtrade/configuration/arguments.py
  freqtrade/resolvers/exchange_resolver.py
  freqtrade/resolvers/hyperopt_resolver.py
  freqtrade/resolvers/iresolver.py
  freqtrade/resolvers/pairlist_resolver.py
  freqtrade/resolvers/strategy_resolver.py
  freqtrade/utils.py
  tests/optimize/test_hyperopt.py
  tests/strategy/test_strategy.py
  tests/test_utils.py
Labels: Enhancement

#2721 Document usage of jupyter with venv kernel
  docs/data-analysis.md
Labels: Documentation

#2722 [minor]Fix misinformation in /status table
  freqtrade/rpc/rpc.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_telegram.py
Labels: RPC
