Repository freqtrade/freqtrade, pull requests merged in 2020-04, with the labels that each got.

#3127 use equality instead of index for row lookups
  freqtrade/data/btanalysis.py
  freqtrade/plot/plotting.py
Labels: Plotting

#3138 trades history RPC
  freqtrade/persistence.py
  freqtrade/rpc/api_server.py
  freqtrade/rpc/rpc.py
  scripts/rest_client.py
  tests/conftest.py
  tests/data/test_btanalysis.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_apiserver.py
  tests/test_persistence.py
Labels: RPC

#3054 Hyperopt: Progressbar during hyperopt
  freqtrade/commands/hyperopt_commands.py
  freqtrade/loggers.py
  freqtrade/optimize/hyperopt.py
  requirements-hyperopt.txt
  setup.py
Labels: Hyperopt

#3137 [minor] Fix maxdrawdown
  freqtrade/data/btanalysis.py
  tests/data/test_btanalysis.py
  tests/test_plotting.py
Labels: Plotting

#3146 Improve handling for buy order cancels
  freqtrade/freqtradebot.py
  freqtrade/misc.py
  tests/test_freqtradebot.py
  tests/test_misc.py
Labels: Bug

#3182 document to install hyperopt dependencies
  docs/hyperopt.md
Labels: Documentation

#3207 Minor: Remove unused methods in hyperopt
  freqtrade/optimize/hyperopt.py
Labels: Hyperopt

#2872 Buy order timeout callback
  docs/strategy-advanced.md
  docs/strategy-customization.md
  docs/utils.md
  freqtrade/commands/cli_options.py
  freqtrade/commands/deploy_commands.py
  freqtrade/exceptions.py
  freqtrade/freqtradebot.py
  freqtrade/misc.py
  freqtrade/strategy/interface.py
  freqtrade/strategy/strategy_wrapper.py
  freqtrade/templates/base_strategy.py.j2
  freqtrade/templates/subtemplates/strategy_methods_advanced.j2
  freqtrade/templates/subtemplates/strategy_methods_empty.j2
  mkdocs.yml
  tests/strategy/test_interface.py
  tests/test_freqtradebot.py
  tests/test_misc.py
Labels: Enhancement

#3216 Hyperopt should mention that a strategy is mandatory.
  docs/hyperopt.md
Labels: Documentation

#3215 Backtest use pairlists
  docs/backtesting.md
  docs/configuration.md
  freqtrade/optimize/backtesting.py
  freqtrade/optimize/hyperopt.py
  tests/optimize/test_backtesting.py
Labels: Dont merge, Enhancement
