Repository freqtrade/freqtrade, pull requests merged in 2020-12, with the labels that each got.

#4022 improve setup.sh script
  docs/installation.md
  setup.sh
Labels: Install

#3929 change backtesting behaviour if roi and trailing-stop happen at the same time
  docs/backtesting.md
  freqtrade/strategy/interface.py
  tests/optimize/test_backtest_detail.py
  tests/test_freqtradebot.py
Labels: Backtest

#3799 Introduce Telegram /stats endpoint
  docs/rest-api.md
  docs/telegram-usage.md
  freqtrade/rpc/api_server.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  scripts/rest_client.py
  tests/conftest_trades.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
Labels: Enhancement, RPC

#4054 Models open price
  freqtrade/freqtradebot.py
  freqtrade/persistence/migrations.py
  freqtrade/persistence/models.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_apiserver.py
  tests/test_persistence.py
Labels: Tech debt

#4046 Update dockerfile to multistage
  Dockerfile
Labels: Docker

#4057 Avoid high fee wrong reports
  freqtrade/freqtradebot.py
  tests/conftest.py
  tests/test_freqtradebot.py
Labels: Bug

#4041 Introduce Protection Plugins
  config_full.json.example
  docs/bot-usage.md
  docs/configuration.md
  docs/developer.md
  docs/includes/protections.md
  docs/plugins.md
  freqtrade/commands/arguments.py
  freqtrade/commands/cli_options.py
  freqtrade/configuration/config_validation.py
  freqtrade/configuration/configuration.py
  freqtrade/constants.py
  freqtrade/freqtradebot.py
  freqtrade/mixins/__init__.py
  freqtrade/mixins/logging_mixin.py
  freqtrade/optimize/backtesting.py
  freqtrade/optimize/hyperopt.py
  freqtrade/optimize/optimize_reports.py
  freqtrade/pairlist/AgeFilter.py
  freqtrade/pairlist/IPairList.py
  freqtrade/pairlist/PrecisionFilter.py
  freqtrade/pairlist/PriceFilter.py
  freqtrade/pairlist/SpreadFilter.py
  freqtrade/pairlist/VolumePairList.py
  freqtrade/pairlist/pairlistmanager.py
  freqtrade/pairlist/rangestabilityfilter.py
  freqtrade/persistence/models.py
  freqtrade/persistence/pairlock_middleware.py
  freqtrade/plugins/__init__.py
  freqtrade/plugins/protectionmanager.py
  freqtrade/plugins/protections/__init__.py
  freqtrade/plugins/protections/cooldown_period.py
  freqtrade/plugins/protections/iprotection.py
  freqtrade/plugins/protections/low_profit_pairs.py
  freqtrade/plugins/protections/max_drawdown_protection.py
  freqtrade/plugins/protections/stoploss_guard.py
  freqtrade/resolvers/__init__.py
  freqtrade/resolvers/protection_resolver.py
  freqtrade/rpc/rpc_manager.py
  freqtrade/strategy/interface.py
  mkdocs.yml
  tests/optimize/test_backtesting.py
  tests/optimize/test_optimize_reports.py
  tests/plugins/__init__.py
  tests/plugins/test_pairlist.py
  tests/plugins/test_pairlocks.py
  tests/plugins/test_protections.py
  tests/rpc/test_rpc_manager.py
  tests/test_configuration.py
  tests/test_freqtradebot.py
Labels: Enhancement

#4068 Docker stage pi
  Dockerfile.armhf
Labels: Docker

#4093 set ohlcv limit on ccxt calls
  freqtrade/exchange/__init__.py
  freqtrade/exchange/binance.py
  freqtrade/exchange/bybit.py
  freqtrade/exchange/exchange.py
  freqtrade/exchange/kraken.py
  freqtrade/pairlist/AgeFilter.py
  tests/exchange/test_exchange.py
Labels: Data download

#4092 Telegram: specify custom keyboard in config
  docs/telegram-usage.md
  freqtrade/rpc/telegram.py
  tests/rpc/test_rpc_telegram.py
Labels: Enhancement, RPC

#4111 Move pairlists to be a plugin submodule
  freqtrade/commands/pairlist_commands.py
  freqtrade/freqtradebot.py
  freqtrade/optimize/backtesting.py
  freqtrade/plugins/pairlist/AgeFilter.py
  freqtrade/plugins/pairlist/IPairList.py
  freqtrade/plugins/pairlist/PerformanceFilter.py
  freqtrade/plugins/pairlist/PrecisionFilter.py
  freqtrade/plugins/pairlist/PriceFilter.py
  freqtrade/plugins/pairlist/ShuffleFilter.py
  freqtrade/plugins/pairlist/SpreadFilter.py
  freqtrade/plugins/pairlist/StaticPairList.py
  freqtrade/plugins/pairlist/VolumePairList.py
  freqtrade/plugins/pairlist/__init__.py
  freqtrade/plugins/pairlist/rangestabilityfilter.py
  freqtrade/plugins/pairlistmanager.py
  freqtrade/resolvers/pairlist_resolver.py
  tests/data/test_dataprovider.py
  tests/optimize/test_backtesting.py
  tests/plugins/test_pairlist.py
Labels: Tech debt

#4112 simplify telegram tests
  tests/rpc/test_rpc_telegram.py
Labels: RPC, Tech debt

#4113 Refactor RPC dependency tree
  freqtrade/rpc/__init__.py
  freqtrade/rpc/api_server.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/rpc_manager.py
  freqtrade/rpc/telegram.py
  freqtrade/rpc/webhook.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
  tests/rpc/test_rpc_webhook.py
Labels: RPC, Tech debt

#4110 add tests to verify exchange compatibility with ccxt
  .github/workflows/ci.yml
  docs/developer.md
  tests/conftest.py
  tests/exchange/test_ccxt_compat.py
Labels: CCXT, Tech debt

#4133 Wildcard based blacklist
  docs/includes/pairlists.md
  freqtrade/exchange/exchange.py
  freqtrade/plugins/pairlist/pairlist_helpers.py
  freqtrade/plugins/pairlistmanager.py
  freqtrade/rpc/rpc.py
  tests/plugins/test_pairlist.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
Labels: Pairlist

#4089 introduce custom stoploss
  docs/stoploss.md
  docs/strategy-advanced.md
  docs/strategy-customization.md
  freqtrade/persistence/models.py
  freqtrade/strategy/interface.py
  freqtrade/templates/subtemplates/strategy_methods_advanced.j2
  tests/strategy/test_default_strategy.py
  tests/strategy/test_interface.py
  tests/strategy/test_strategy_loading.py
Labels: Enhancement, Stoploss
