Repository freqtrade/freqtrade, pull requests merged in 2020-08, with the labels that each got.

#3611 Add telegram /delete command
  docs/rest-api.md
  docs/telegram-usage.md
  freqtrade/rpc/api_server.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  scripts/rest_client.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
Labels: RPC

#3641 Fix edge with removebumps enabled
  freqtrade/edge/edge_positioning.py
  tests/edge/test_edge.py
Labels: Bug

#3091 --min-objective and --max-objective for hyperopt-list
  docs/utils.md
  freqtrade/commands/arguments.py
  freqtrade/commands/cli_options.py
  freqtrade/commands/hyperopt_commands.py
  freqtrade/configuration/configuration.py
  tests/commands/test_commands.py
Labels: Enhancement, Hyperopt

#3008 Wins/draws/losses/median profit in hyperopt output
  freqtrade/optimize/hyperopt.py
  tests/optimize/test_hyperopt.py
Labels: Enhancement, Hyperopt

#3677 improve Edge documentation
  docs/edge.md
Labels: Documentation, Edge

#3660 Move DefaultHyperopt to tests
  freqtrade/resolvers/hyperopt_resolver.py
  tests/commands/test_commands.py
  tests/optimize/hyperopts/default_hyperopt.py
  tests/optimize/test_edge_cli.py
  tests/optimize/test_hyperopt.py
Labels: Hyperopt, Tech debt

#3667 Hyperopt enable dataprovider
  docs/strategy-advanced.md
  docs/strategy-customization.md
  freqtrade/optimize/backtesting.py
  freqtrade/optimize/hyperopt.py
Labels: Enhancement, Hyperopt

#3558 Revise backtesting export format, add some metrics
  docs/backtesting.md
  docs/plotting.md
  docs/strategy_analysis_example.md
  freqtrade/commands/arguments.py
  freqtrade/configuration/configuration.py
  freqtrade/constants.py
  freqtrade/data/btanalysis.py
  freqtrade/edge/edge_positioning.py
  freqtrade/optimize/backtesting.py
  freqtrade/optimize/hyperopt.py
  freqtrade/optimize/hyperopt_loss_sharpe_daily.py
  freqtrade/optimize/hyperopt_loss_sortino_daily.py
  freqtrade/optimize/optimize_reports.py
  freqtrade/plot/plotting.py
  freqtrade/rpc/api_server.py
  freqtrade/strategy/interface.py
  freqtrade/templates/strategy_analysis_example.ipynb
  tests/conftest.py
  tests/data/test_btanalysis.py
  tests/data/test_history.py
  tests/edge/test_edge.py
  tests/optimize/test_backtest_detail.py
  tests/optimize/test_backtesting.py
  tests/optimize/test_hyperopt.py
  tests/optimize/test_optimize_reports.py
  tests/test_freqtradebot.py
  tests/test_plotting.py
  tests/testdata/.last_result.json
  tests/testdata/backtest-result_multistrat.json
  tests/testdata/backtest-result_new.json
  tests/testdata/backtest-result_test copy.json
Labels: Backtest, Enhancement

#3695 Fix daily rpc for webservice
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  tests/rpc/test_rpc.py
Labels: RPC

#3707 Update sandbox documentation
  docs/sandbox-testing.md
Labels: Documentation

#3592 Add stoploss-distance (to current price) to /status output
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
Labels: Enhancement, RPC

#3683 Logging endpoints
  docs/rest-api.md
  docs/telegram-usage.md
  freqtrade/loggers.py
  freqtrade/main.py
  freqtrade/rpc/api_server.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  scripts/rest_client.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
  tests/test_configuration.py
Labels: Enhancement, RPC

#3733 Move clock warning to installation pages
  docs/bot-usage.md
  docs/docker.md
  docs/index.md
  docs/installation.md
Labels: Documentation

#3626 Introduce HDF5 Datahandler
  docs/data-download.md
  freqtrade/commands/arguments.py
  freqtrade/constants.py
  freqtrade/data/converter.py
  freqtrade/data/history/hdf5datahandler.py
  freqtrade/data/history/history_utils.py
  freqtrade/data/history/idatahandler.py
  requirements-common.txt
  setup.py
  tests/data/test_history.py
  tests/testdata/UNITTEST_BTC-5m.h5
  tests/testdata/XRP_ETH-trades.h5
Labels: Enhancement
