Repository freqtrade/freqtrade, pull requests merged in 2021-01, with the labels that each got.

#4138 use Fastapi instead of flask for API operations
  config.json.example
  config_binance.json.example
  config_full.json.example
  config_kraken.json.example
  docs/rest-api.md
  freqtrade/rpc/api_server.py
  freqtrade/rpc/api_server/__init__.py
  freqtrade/rpc/api_server/api_auth.py
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/api_server/deps.py
  freqtrade/rpc/api_server/uvicorn_threaded.py
  freqtrade/rpc/api_server/webserver.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/rpc_manager.py
  requirements.txt
  tests/conftest_trades.py
  tests/data/test_btanalysis.py
  tests/optimize/test_hyperoptloss.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_manager.py
Labels: RPC, Tech debt

#4158 Fix bug in RPC history mode when no data is found
  freqtrade/rpc/rpc.py
  tests/rpc/test_rpc_apiserver.py
Labels: RPC

#4164 Run CI for mac on 3.9
  .github/workflows/ci.yml
  docs/installation.md
Labels: Install

#4173 Fix #4161 - by not using the problematic method for windows
  tests/optimize/test_optimize_reports.py
Labels: Tech debt

#4193 Sell profit offset
  config_full.json.example
  docs/configuration.md
  freqtrade/constants.py
  freqtrade/optimize/optimize_reports.py
  freqtrade/resolvers/strategy_resolver.py
  freqtrade/strategy/interface.py
  tests/test_freqtradebot.py
Labels: Enhancement

#4147 Ignoring candles that have expired within timeframe
  docs/configuration.md
  freqtrade/resolvers/strategy_resolver.py
  freqtrade/strategy/interface.py
  tests/strategy/test_interface.py
Labels: Enhancement

#4197 Added support for regex in whitelist
  docs/configuration.md
  docs/includes/pairlists.md
  freqtrade/commands/data_commands.py
  freqtrade/edge/edge_positioning.py
  freqtrade/exchange/exchange.py
  freqtrade/plot/plotting.py
  freqtrade/plugins/pairlist/IPairList.py
  freqtrade/plugins/pairlist/StaticPairList.py
  freqtrade/plugins/pairlist/pairlist_helpers.py
  freqtrade/plugins/pairlistmanager.py
  tests/exchange/test_exchange.py
  tests/plugins/test_pairlist.py
  tests/test_plotting.py
Labels: Enhancement, Pairlist

#4215 Small backtest refactor, introduce calling `bot_loop_start` in backtesting
  docs/bot-basics.md
  freqtrade/optimize/backtesting.py
  freqtrade/optimize/hyperopt.py
  freqtrade/optimize/optimize_reports.py
  tests/optimize/test_backtesting.py
  tests/optimize/test_optimize_reports.py
Labels: Backtest

#4223 Add bot_name setting
  config.json.example
  config_binance.json.example
  config_full.json.example
  config_kraken.json.example
  docs/configuration.md
  freqtrade/constants.py
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/rpc.py
  freqtrade/templates/base_config.json.j2
  tests/rpc/test_rpc_apiserver.py
Labels: Enhancement, RPC

#4241 Small improvement to MaxDrawDown protection
  docs/includes/protections.md
Labels: Documentation

#4275 Cache markets in the exchange object
  freqtrade/exchange/exchange.py
  tests/conftest.py
  tests/exchange/test_exchange.py
  tests/test_freqtradebot.py
Labels: Tech debt

#4218 Conda - installation process : adding and explaining
  docs/installation.md
  environment.yml
Labels: Documentation
