Repository freqtrade/freqtrade, pull requests merged in 2021-07, with the labels that each got.

#5221 Add range property to CategoricalParameter.
  docs/hyperopt.md
  freqtrade/strategy/hyper.py
  tests/strategy/test_interface.py
Labels: Enhancement

#5219 automatic Hyperopt paramfile
  docs/hyperopt.md
  docs/utils.md
  freqtrade/commands/arguments.py
  freqtrade/commands/cli_options.py
  freqtrade/commands/hyperopt_commands.py
  freqtrade/configuration/configuration.py
  freqtrade/constants.py
  freqtrade/optimize/hyperopt.py
  freqtrade/optimize/hyperopt_tools.py
  freqtrade/resolvers/strategy_resolver.py
  freqtrade/strategy/hyper.py
  freqtrade/strategy/interface.py
  tests/commands/test_commands.py
  tests/conftest.py
  tests/optimize/test_hyperopt.py
  tests/optimize/test_hyperopt_tools.py
  tests/strategy/test_interface.py
Labels: Enhancement, Hyperopt

#5232 Daily profit plotting / equity curve
  docs/strategy_analysis_example.md
  freqtrade/optimize/optimize_reports.py
  freqtrade/templates/strategy_analysis_example.ipynb
Labels: Plotting

#5229 compact low balance currencies
  freqtrade/rpc/telegram.py
  tests/conftest.py
  tests/rpc/test_rpc_telegram.py
Labels: RPC

#5228 feat(agefilter): add max_days_listed
  docs/includes/pairlists.md
  freqtrade/plugins/pairlist/AgeFilter.py
  tests/plugins/test_pairlist.py
Labels: Pairlist

#5246 new filter OffsetFilter for offsetting incoming pairlists
  docs/includes/pairlists.md
  freqtrade/constants.py
  freqtrade/plugins/pairlist/OffsetFilter.py
  tests/plugins/test_pairlist.py
Labels: Pairlist

#5231 Range based VolumeFilter
  docs/includes/pairlists.md
  freqtrade/plugins/pairlist/VolumePairList.py
  tests/plugins/test_pairlist.py
Labels: Enhancement, Pairlist

#5189 Implement strategy-controlled stake sizes
  docs/strategy-advanced.md
  freqtrade/freqtradebot.py
  freqtrade/optimize/backtesting.py
  freqtrade/strategy/interface.py
  freqtrade/wallets.py
  tests/optimize/test_backtesting.py
  tests/rpc/test_rpc.py
  tests/test_freqtradebot.py
Labels: Enhancement

#5255 Improve dynamic stake with multiple bots on the same exchange
  docs/configuration.md
  freqtrade/constants.py
  freqtrade/persistence/models.py
  freqtrade/wallets.py
  tests/test_persistence.py
  tests/test_wallets.py
Labels: Enhancement

#5273 fix calculation logic for /profit
  docs/telegram-usage.md
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  freqtrade/wallets.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
  tests/test_wallets.py
Labels: RPC

#5243 Introduce webserver mode subcommand
  docs/utils.md
  freqtrade/commands/__init__.py
  freqtrade/commands/arguments.py
  freqtrade/commands/webserver_commands.py
  freqtrade/configuration/configuration.py
  freqtrade/enums/__init__.py
  freqtrade/enums/backteststate.py
  freqtrade/enums/runmode.py
  freqtrade/optimize/backtesting.py
  freqtrade/optimize/bt_progress.py
  freqtrade/rpc/api_server/api_backtest.py
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/api_server/webserver.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/rpc_manager.py
  tests/commands/test_commands.py
  tests/optimize/test_backtesting.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_manager.py
Labels: Backtest, Enhancement, RPC

#5319 Docs - StrategyAdvanced - Added `current_time` to `confirm_trade_entry/exit()` examples
  docs/strategy-advanced.md
Labels: Documentation

#5309 Fix configuration.md typos
  docs/configuration.md
Labels: Documentation

#5287 Dataprovider caching and trimming of historical informative.
  freqtrade/data/dataprovider.py
  freqtrade/rpc/api_server/api_backtest.py
Labels: Enhancement

#5285 Remove startup-candles after populating buy/sell signals
  freqtrade/optimize/backtesting.py
  freqtrade/optimize/hyperopt.py
  tests/optimize/test_backtest_detail.py
  tests/optimize/test_backtesting.py
Labels: Backtest

#5299 Add buy signal name
  docs/strategy-advanced.md
  docs/webhook-config.md
  freqtrade/data/btanalysis.py
  freqtrade/enums/__init__.py
  freqtrade/enums/signaltype.py
  freqtrade/freqtradebot.py
  freqtrade/optimize/backtesting.py
  freqtrade/persistence/migrations.py
  freqtrade/persistence/models.py
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/telegram.py
  freqtrade/strategy/interface.py
  tests/conftest.py
  tests/edge/test_edge.py
  tests/optimize/__init__.py
  tests/optimize/test_backtest_detail.py
  tests/optimize/test_backtesting.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
  tests/strategy/test_interface.py
  tests/test_freqtradebot.py
  tests/test_persistence.py
Labels: Enhancement
