Repository freqtrade/freqtrade, pull requests merged in 2021-03, with the labels that each got.

#4469 Add RPC methods to remove locks
  docs/rest-api.md
  docs/telegram-usage.md
  freqtrade/persistence/models.py
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  scripts/rest_client.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
Labels: Enhancement, RPC

#4472 Add ping support to rest_client.py
  scripts/rest_client.py
Labels: RPC

#4489 forcebuy ordertype
  config_full.json.example
  docs/configuration.md
  docs/stoploss.md
  freqtrade/constants.py
  freqtrade/freqtradebot.py
  freqtrade/rpc/rpc.py
Labels: RPC

#4454 Backtest compound, wallet, ...
  docs/backtesting.md
  docs/bot-usage.md
  docs/configuration.md
  docs/hyperopt.md
  docs/strategy-customization.md
  freqtrade/commands/arguments.py
  freqtrade/commands/cli_options.py
  freqtrade/commands/optimize_commands.py
  freqtrade/configuration/configuration.py
  freqtrade/data/btanalysis.py
  freqtrade/exchange/exchange.py
  freqtrade/freqtradebot.py
  freqtrade/optimize/backtesting.py
  freqtrade/optimize/hyperopt.py
  freqtrade/optimize/optimize_reports.py
  freqtrade/persistence/__init__.py
  freqtrade/persistence/migrations.py
  freqtrade/persistence/models.py
  freqtrade/persistence/pairlock_middleware.py
  freqtrade/plot/plotting.py
  freqtrade/plugins/protections/cooldown_period.py
  freqtrade/plugins/protections/iprotection.py
  freqtrade/plugins/protections/low_profit_pairs.py
  freqtrade/plugins/protections/max_drawdown_protection.py
  freqtrade/plugins/protections/stoploss_guard.py
  freqtrade/strategy/interface.py
  freqtrade/wallets.py
  tests/conftest.py
  tests/conftest_trades.py
  tests/data/test_btanalysis.py
  tests/optimize/test_backtest_detail.py
  tests/optimize/test_backtesting.py
  tests/optimize/test_hyperopt.py
  tests/optimize/test_optimize_reports.py
  tests/plugins/test_pairlocks.py
  tests/test_configuration.py
  tests/test_freqtradebot.py
  tests/test_persistence.py
Labels: Backtest, Enhancement
