Repository freqtrade/freqtrade, pull requests merged in 2021-05, with the labels that each got.

#4844 IntParameter should not calculate indicators if it's not being optimized
  freqtrade/optimize/hyperopt.py
  freqtrade/optimize/hyperopt_tools.py
  freqtrade/strategy/hyper.py
  tests/optimize/test_hyperopt.py
  tests/strategy/test_interface.py
Labels: Hyperopt

#4848 Hyperopt store backtest-outcome
  freqtrade/commands/hyperopt_commands.py
  freqtrade/optimize/backtesting.py
  freqtrade/optimize/hyperopt.py
  freqtrade/optimize/hyperopt_tools.py
  freqtrade/optimize/optimize_reports.py
  freqtrade/strategy/hyper.py
  tests/commands/test_commands.py
  tests/conftest.py
  tests/optimize/test_backtest_detail.py
  tests/optimize/test_backtesting.py
  tests/optimize/test_hyperopt.py
  tests/optimize/test_optimize_reports.py
  tests/strategy/test_interface.py
Labels: Hyperopt

#4869 Have Edge support informative pairs
  freqtrade/edge/edge_positioning.py
  tests/conftest.py
  tests/edge/test_edge.py
Labels: Edge

#4836 Telegram rpc: split too long /locks messages
  freqtrade/misc.py
  freqtrade/rpc/telegram.py
Labels: RPC

#4843 Docker support for arm64
  build_helpers/install_ta-lib.sh
  docker/Dockerfile.aarch64
  docs/docker_quickstart.md
Labels: Docker

#4947 /performance - sort by absolute profit
  docs/telegram-usage.md
  freqtrade/persistence/models.py
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/telegram.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
Labels: RPC

#4944 Add support for timerange end date to `download-data`
  freqtrade/data/history/history_utils.py
Labels: Data download

#4953 max-value change filter
  docs/includes/pairlists.md
  freqtrade/plugins/pairlist/IPairList.py
  freqtrade/plugins/pairlist/PriceFilter.py
  tests/plugins/test_pairlist.py
Labels: Pairlist

#4975 Add ability to choose unit in unfilled timeout
  config_full.json.example
  docs/configuration.md
  freqtrade/constants.py
  freqtrade/freqtradebot.py
  freqtrade/templates/base_config.json.j2
Labels: Enhancement

#4964 Add backoff timer for coingecko API
  freqtrade/rpc/fiat_convert.py
  tests/rpc/test_fiat_convert.py
Labels: RPC

#4943 Extra statistics
  docs/backtesting.md
  freqtrade/optimize/optimize_reports.py
  tests/optimize/test_optimize_reports.py
Labels: Backtest, Enhancement

#4746 Telegram: forcebuy inline keyboard
  docs/assets/telegram_forcebuy.png
  docs/telegram-usage.md
  freqtrade/rpc/telegram.py
  tests/rpc/test_rpc_telegram.py
Labels: RPC

#4682 Sqlalchemy 14 preparations
  freqtrade/freqtradebot.py
  freqtrade/persistence/migrations.py
  freqtrade/persistence/models.py
  freqtrade/persistence/pairlock_middleware.py
  freqtrade/rpc/rpc.py
  tests/test_persistence.py
Labels: Dependencies, Python, Tech debt

#4838 Fix bug in running hyperopt in windows 10
  .gitattributes
  docs/advanced-hyperopt.md
  docs/hyperopt.md
  freqtrade/optimize/hyperopt_tools.py
  tests/optimize/test_hyperopt.py
Labels: Hyperopt

#5031 Switch to pyproject.toml for setup
  pyproject.toml
  setup.cfg
  setup.py
Labels: Tech debt

#5043 Test multiarch
  .dockerignore
  .github/workflows/ci.yml
  Dockerfile
  build_helpers/publish_docker.sh
  build_helpers/publish_docker_pi.sh
  docker/Dockerfile.aarch64
  docker/Dockerfile.armhf
Labels: Docker

#5003 Indicator plotting improvement
  docs/plotting.md
  freqtrade/plot/plotting.py
Labels: Plotting
