Repository freqtrade/freqtrade, pull requests merged in 2021-04, with the labels that each got.

#4651 Include Technical in default image
  docker-compose.yml
  docker/Dockerfile.custom
  docs/docker_quickstart.md
  requirements.txt
  setup.py
Labels: Docker

#4596 Support for creating auto-hyperoptable strategies.
  docs/advanced-hyperopt.md
  docs/hyperopt.md
  freqtrade/commands/cli_options.py
  freqtrade/optimize/hyperopt.py
  freqtrade/optimize/hyperopt_auto.py
  freqtrade/optimize/hyperopt_interface.py
  freqtrade/strategy/__init__.py
  freqtrade/strategy/hyper.py
  freqtrade/strategy/interface.py
  freqtrade/templates/base_strategy.py.j2
  freqtrade/templates/sample_strategy.py
  tests/optimize/conftest.py
  tests/optimize/test_hyperopt.py
  tests/rpc/test_rpc_apiserver.py
  tests/strategy/strats/hyperoptable_strategy.py
  tests/strategy/test_interface.py
  tests/strategy/test_strategy_loading.py
Labels: Enhancement, Hyperopt

#4685 Use ccxt's has to check which exchanges can work with freqtrade
  docs/utils.md
  freqtrade/commands/list_commands.py
  freqtrade/configuration/check_exchange.py
  freqtrade/exchange/__init__.py
  freqtrade/exchange/common.py
  freqtrade/exchange/exchange.py
  tests/commands/test_commands.py
  tests/test_configuration.py
  tests/test_main.py
Labels: Tech debt

#4684 Improve Kraken-specific config description.
  docs/exchanges.md
Labels: Documentation

#4694 Add gitattributes file
  .gitattributes
Labels: Tech debt

#4686 Add Pairlist Handler for Volatility
  docs/includes/pairlists.md
  freqtrade/constants.py
  freqtrade/plugins/pairlist/VolatilityFilter.py
  tests/plugins/test_pairlist.py
Labels: Enhancement, Pairlist

#4697 Docker as user
  .dockerignore
  Dockerfile
  Dockerfile.armhf
  docker/Dockerfile.custom
  docker/Dockerfile.develop
  docker/Dockerfile.jupyter
  docker/Dockerfile.plot
  freqtrade/commands/build_config_commands.py
  freqtrade/configuration/directory_operations.py
  tests/test_directory_operations.py
Labels: Docker, Tech debt

#4703 Add SKDecimal Space
  freqtrade/optimize/decimalspace.py
  freqtrade/optimize/hyperopt_auto.py
  freqtrade/strategy/hyper.py
  tests/optimize/test_hyperopt.py
  tests/strategy/test_interface.py
Labels: Hyperopt

#4725 Update brew before installing packages
  .github/workflows/ci.yml
Labels: Tech debt

#4734 /balance should use cached tickers when possible
  freqtrade/exchange/exchange.py
  freqtrade/rpc/rpc.py
  tests/exchange/test_exchange.py
  tests/rpc/test_rpc.py
Labels: RPC

#4713 chore(readme): Fix markdown of docker manual
  docs/docker_quickstart.md
Labels: Documentation

#4740 stoploss and roi skdecimal spaces hyperopt
  docs/advanced-hyperopt.md
  docs/hyperopt.md
  freqtrade/optimize/hyperopt_interface.py
  freqtrade/optimize/space/__init__.py
  freqtrade/optimize/space/decimalspace.py
  freqtrade/strategy/hyper.py
  freqtrade/templates/sample_hyperopt_advanced.py
  tests/optimize/test_hyperopt.py
Labels: Hyperopt

#4677 Add API endpoint for getting a specific trade
  docs/rest-api.md
  freqtrade/rpc/api_server/api_v1.py
  scripts/rest_client.py
  tests/rpc/test_rpc_apiserver.py
Labels: Enhancement, RPC

#4766 Add buy/sell fill messages to telegram
  config_full.json.example
  docs/telegram-usage.md
  docs/webhook-config.md
  freqtrade/constants.py
  freqtrade/freqtradebot.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/rpc_manager.py
  freqtrade/rpc/telegram.py
  freqtrade/rpc/webhook.py
  tests/conftest.py
  tests/rpc/test_rpc_manager.py
  tests/rpc/test_rpc_telegram.py
  tests/rpc/test_rpc_webhook.py
  tests/test_freqtradebot.py
Labels: RPC

#4769 Trades pagination
  docs/rest-api.md
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/rpc.py
  scripts/rest_client.py
  tests/rpc/test_rpc_apiserver.py
Labels: RPC

#4767 setup.sh: Install libpython3-dev on Debian/Ubuntu
  setup.sh
Labels: Install

#4790 add IntParameter.range
  docs/hyperopt.md
  freqtrade/strategy/hyper.py
  tests/optimize/conftest.py
  tests/optimize/test_hyperopt.py
  tests/strategy/test_interface.py
Labels: Enhancement, Hyperopt

#4818 Move static Trade functions to right class
  freqtrade/persistence/models.py
  tests/test_persistence.py
Labels: Tech debt

#4750 Add IStrategy.custom_sell method which allows per-trade sell signal evaluation
  docs/strategy-advanced.md
  docs/strategy-customization.md
  freqtrade/freqtradebot.py
  freqtrade/optimize/backtesting.py
  freqtrade/rpc/rpc.py
  freqtrade/strategy/interface.py
  freqtrade/templates/subtemplates/strategy_methods_advanced.j2
  tests/strategy/test_default_strategy.py
  tests/strategy/test_interface.py
  tests/test_freqtradebot.py
  tests/test_integration.py
Labels: Enhancement
