Repository freqtrade/freqtrade, pull requests merged in 2022-09, with the labels that each got.

#7329 Make the recommendation for Binance/Kucoin blacklisting more accurate.
  docs/exchanges.md
Labels: Documentation

#7325 Improve Freqai backtesting performance
  config_examples/config_freqai.example.json
  docs/freqai.md
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/templates/FreqaiExampleStrategy.py
  tests/freqai/test_freqai_interface.py
Labels: freqAI

#7331 Normalise PCA space
  freqtrade/freqai/data_kitchen.py
Labels: freqAI

#7361 fix hyperopt df preprocessing
  freqtrade/optimize/hyperopt.py
Labels: Hyperopt

#7323 Update and correct descriptions and figure
  docs/assets/freqai_weight-factor.jpg
  docs/freqai.md
Labels: freqAI

#7322 Add inlier metric
  docs/freqai.md
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  tests/freqai/conftest.py
  tests/freqai/test_freqai_datakitchen.py
  tests/freqai/test_freqai_interface.py
Labels: freqAI

#7375 ensure inlier metric can be combined with other cleaning methods
  freqtrade/freqai/freqai_interface.py
Labels: freqAI

#7376 Fix freqai backtesting time range issue
  freqtrade/freqai/data_kitchen.py
Labels: freqAI

#7374 Filter constant features
  freqtrade/freqai/data_kitchen.py
Labels: freqAI

#7363 Fix hyperopt - freqai
  docs/freqai.md
  freqtrade/configuration/config_validation.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/templates/FreqaiExampleStrategy.py
Labels: Hyperopt, freqAI

#7391 Fix FreaqAI backtesting - startup_candle_count bug
  freqtrade/freqai/data_kitchen.py
Labels: freqAI

#7392 Improve freqai tests by utilizing parametrization
  freqtrade/freqai/base_models/FreqaiMultiOutputRegressor.py
  freqtrade/freqai/prediction_models/CatboostRegressorMultiTarget.py
  freqtrade/freqai/prediction_models/LightGBMRegressorMultiTarget.py
  freqtrade/freqai/prediction_models/XGBoostRegressorMultiTarget.py
  tests/freqai/test_freqai_interface.py
Labels: freqAI

#7396 Hyperopt per epoch
  freqtrade/data/dataprovider.py
  freqtrade/optimize/hyperopt.py
  tests/optimize/test_hyperopt.py
Labels: Hyperopt

#7390 Add XGBoostClassifier
  freqtrade/freqai/prediction_models/XGBoostClassifier.py
  tests/freqai/test_freqai_interface.py
Labels: freqAI

#7412 Fixed a bug that prevents clearing old models
  freqtrade/freqai/data_drawer.py
Labels: Bug, freqAI

#7428 Informative freqai
  docs/freqai.md
  freqtrade/strategy/interface.py
  freqtrade/templates/FreqaiExampleStrategy.py
  freqtrade/templates/FreqaiHybridExampleStrategy.py
  tests/freqai/test_freqai_interface.py
  tests/strategy/strats/freqai_test_multimodel_strat.py
  tests/strategy/strats/freqai_test_strat.py
Labels: Enhancement, freqAI

#7430 Reorganise multipage doc
  docs/assets/freqai_algorithm-diagram.jpg
  docs/freqai-configuration.md
  docs/freqai-data-handling.md
  docs/freqai-developers.md
  docs/freqai-feature-engineering.md
  docs/freqai-outlier-detection.md
  docs/freqai-parameter-table.md
  docs/freqai-running.md
  docs/freqai.md
  mkdocs.yml
Labels: freqAI

#7435 Add Common pitfalls
  docs/freqai.md
Labels: freqAI

#7431 Add plot feature importance
  config_examples/config_freqai.example.json
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/utils.py
  tests/freqai/test_freqai_interface.py
Labels: freqAI

#7434 improve train queue system in FreqAI
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/templates/FreqaiExampleStrategy.py
Labels: freqAI

#7443 protect against unforeseen issues in scanning thread
  freqtrade/freqai/freqai_interface.py
Labels: freqAI

#7432 Normalise distances before Weibull fit
  freqtrade/freqai/data_kitchen.py
Labels: freqAI

#7303 Producer/consumer mode
  config_examples/config_full.example.json
  docs/configuration.md
  docs/producer-consumer.md
  docs/rest-api.md
  freqtrade/commands/build_config_commands.py
  freqtrade/constants.py
  freqtrade/data/dataprovider.py
  freqtrade/enums/__init__.py
  freqtrade/enums/rpcmessagetype.py
  freqtrade/freqtradebot.py
  freqtrade/misc.py
  freqtrade/rpc/api_server/api_auth.py
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/api_server/api_ws.py
  freqtrade/rpc/api_server/deps.py
  freqtrade/rpc/api_server/webserver.py
  freqtrade/rpc/api_server/ws/__init__.py
  freqtrade/rpc/api_server/ws/channel.py
  freqtrade/rpc/api_server/ws/proxy.py
  freqtrade/rpc/api_server/ws/serializer.py
  freqtrade/rpc/api_server/ws/types.py
  freqtrade/rpc/api_server/ws_schemas.py
  freqtrade/rpc/external_message_consumer.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/rpc_manager.py
  freqtrade/strategy/interface.py
  freqtrade/templates/base_config.json.j2
  mkdocs.yml
  requirements.txt
  setup.py
  tests/conftest.py
  tests/data/test_dataprovider.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_emc.py
  tests/test_freqtradebot.py
  tests/test_misc.py
Labels: Enhancement

#7457 Add elapsed time to Freqai training logs
  freqtrade/freqai/base_models/BaseClassifierModel.py
  freqtrade/freqai/base_models/BaseRegressionModel.py
  freqtrade/freqai/base_models/BaseTensorFlowModel.py
  freqtrade/freqai/base_models/FreqaiMultiOutputRegressor.py
Labels: freqAI

#7455 Allow use of --strategy-list with freqai, with warning
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/optimize/backtesting.py
  tests/freqai/test_freqai_backtesting.py
Labels: freqAI

#7454 Ensure the DF has the same size in backtesting FreqAI
  freqtrade/data/dataprovider.py
  freqtrade/freqai/data_kitchen.py
  freqtrade/optimize/backtesting.py
Labels: freqAI

#7462 Use pre-commit in Ci to check for all things
  .github/workflows/ci.yml
Labels: Tech maintenance

#7465 Aggregate recent feature requests
  docs/freqai.md
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/utils.py
Labels: freqAI

#7395 Reorganize and improve FreqAI docs
  docs/assets/freqai_algorithm-diagram.jpg
  docs/assets/freqai_inlier-metric.jpg
  docs/freqai-configuration.md
  docs/freqai-developers.md
  docs/freqai-feature-engineering.md
  docs/freqai-parameter-table.md
  docs/freqai-running.md
  docs/freqai.md
  mkdocs.yml
Labels: freqAI

#7491 Partial close leverage
  docs/strategy-callbacks.md
  freqtrade/freqtradebot.py
  freqtrade/optimize/backtesting.py
  tests/optimize/test_backtesting_adjust_position.py
  tests/test_integration.py
Labels: Non-spot

#7492 Shutdown Subproc Env on signal
  docs/freqai.md
  freqtrade/freqai/RL/BaseReinforcementLearningModel.py
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/prediction_models/ReinforcementLearner_multiproc.py
Labels: freqAI

#7473 Producerpairlist
  docs/includes/pairlists.md
  freqtrade/constants.py
  freqtrade/freqtradebot.py
  freqtrade/optimize/backtesting.py
  freqtrade/plugins/pairlist/ProducerPairList.py
  freqtrade/plugins/pairlist/VolumePairList.py
  freqtrade/plugins/pairlistmanager.py
  tests/conftest.py
  tests/plugins/test_pairlist.py
Labels: Enhancement, Pairlist
