Repository freqtrade/freqtrade, pull requests merged in 2022-10, with the labels that each got.

#7495 Set train-test-split parameters shuffle=False as default and remove stratification
  docs/freqai-parameter-table.md
  docs/freqai-running.md
  freqtrade/constants.py
  freqtrade/freqai/data_kitchen.py
  tests/freqai/test_freqai_datakitchen.py
Labels: freqAI

#7508 Fix feature list match for PCA
  freqtrade/freqai/base_models/BaseClassifierModel.py
  freqtrade/freqai/base_models/BaseRegressionModel.py
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
Labels: freqAI

#7512 add close price and date to `historic_predictions.pkl`
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/freqai_interface.py
Labels: freqAI

#7506 Support cancellation partially filled exit orders
  freqtrade/exchange/exchange.py
  freqtrade/freqtradebot.py
  tests/test_freqtradebot.py
Labels: Enhancement

#7538 improve freqai tests
  tests/freqai/conftest.py
  tests/freqai/test_freqai_datadrawer.py
  tests/freqai/test_freqai_datakitchen.py
  tests/freqai/test_freqai_interface.py
Labels: freqAI

#7571 document user_data/freqaimodels
  docs/freqai-configuration.md
  freqtrade/configuration/directory_operations.py
  tests/test_directory_operations.py
Labels: Documentation, freqAI

#7554 Add tensorboard for catboost
  docs/assets/tensorboard.jpg
  docs/freqai-running.md
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/prediction_models/CatboostClassifier.py
  freqtrade/freqai/prediction_models/CatboostRegressor.py
  freqtrade/freqai/prediction_models/CatboostRegressorMultiTarget.py
  requirements-freqai.txt
Labels: freqAI

#7544 Remove constant labels from prediction
  freqtrade/freqai/data_kitchen.py
  tests/freqai/conftest.py
  tests/freqai/test_freqai_interface.py
Labels: freqAI

#7560 Update freqai-spice-rack.md
  docs/freqai-spice-rack.md
Labels: freqAI

#7549 Add support for dp.send_msg() to webhooks
  docs/configuration.md
  docs/deprecated.md
  docs/strategy_migration.md
  docs/telegram-usage.md
  docs/webhook-config.md
  freqtrade/constants.py
  freqtrade/rpc/discord.py
  freqtrade/rpc/rpc_manager.py
  freqtrade/rpc/webhook.py
  tests/rpc/test_rpc_manager.py
  tests/rpc/test_rpc_webhook.py
Labels: RPC

#7576 catboost tensorboard bugfix
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/prediction_models/CatboostClassifier.py
  freqtrade/freqai/prediction_models/CatboostRegressor.py
  freqtrade/freqai/prediction_models/CatboostRegressorMultiTarget.py
Labels: freqAI

#7582 Add model info
  docs/freqai-configuration.md
  docs/freqai-parameter-table.md
  docs/freqai-running.md
Labels: Documentation, freqAI

#7585 Add eval set to CatboostClassifier
  freqtrade/freqai/prediction_models/CatboostClassifier.py
Labels: freqAI

#7569 Add XGBoost random forest predictors to freqai
  freqtrade/freqai/prediction_models/XGBoostRFClassifier.py
  freqtrade/freqai/prediction_models/XGBoostRFRegressor.py
  tests/freqai/test_freqai_interface.py
Labels: Enhancement, freqAI

#7595 Update stoploss.md
  docs/stoploss.md
Labels: Documentation

#7557 Add metric tracker to FreqAI
  docs/freqai-parameter-table.md
  freqtrade/constants.py
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/freqai_interface.py
  tests/freqai/test_freqai_interface.py
Labels: freqAI

#7590 List models
  docs/utils.md
  freqtrade/commands/__init__.py
  freqtrade/commands/arguments.py
  freqtrade/commands/list_commands.py
  freqtrade/freqai/prediction_models/CatboostClassifier.py
  freqtrade/freqai/prediction_models/CatboostRegressor.py
  freqtrade/freqai/prediction_models/CatboostRegressorMultiTarget.py
  freqtrade/resolvers/freqaimodel_resolver.py
  freqtrade/resolvers/iresolver.py
  freqtrade/resolvers/strategy_resolver.py
  tests/commands/test_commands.py
Labels: Enhancement, freqAI

#7613 fix typos - live predictions candles
  docs/freqai-configuration.md
  freqtrade/freqai/base_models/BaseClassifierModel.py
  freqtrade/freqai/base_models/BaseRegressionModel.py
  freqtrade/freqai/base_models/BaseTensorFlowModel.py
Labels: freqAI

#7611 Make extra_returns_per_train data available during backtest
  freqtrade/freqai/data_kitchen.py
Labels: freqAI

#7593 Fix constant PCA
  freqtrade/freqai/data_kitchen.py
  tests/freqai/test_freqai_datakitchen.py
Labels: freqAI

#7619 Stop/usehighlow
  docs/backtesting.md
  docs/strategy-callbacks.md
  freqtrade/strategy/interface.py
Labels: Stoploss

#7642 Update freqai-running.md
  docs/freqai-running.md
Labels: freqAI

#7647 Combine stop logic
  freqtrade/exchange/binance.py
  freqtrade/exchange/exchange.py
  freqtrade/exchange/gateio.py
  freqtrade/exchange/huobi.py
  freqtrade/exchange/kucoin.py
  tests/exchange/test_binance.py
  tests/exchange/test_huobi.py
Labels: Stoploss, Tech maintenance

#7618 Update function in FreqAI interface to record FreqAI config params
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/utils.py
  tests/freqai/test_freqai_interface.py
Labels: freqAI

#7662 Fix missing f-string from PR #7611
  freqtrade/freqai/data_kitchen.py
Labels: freqAI

#7665 Update generic CI's to ubuntu 22.04
  .github/workflows/ci.yml
Labels: Dependencies, Tech maintenance

#7683 add statement of need to FreqAI docs
  docs/freqai.md
Labels: Documentation, freqAI

#7612 avoid redundant indicator population for corr_pair list
  docs/freqai-configuration.md
  docs/freqai-feature-engineering.md
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/templates/FreqaiExampleHybridStrategy.py
  freqtrade/templates/FreqaiExampleStrategy.py
Labels: freqAI
