Repository freqtrade/freqtrade, pull requests merged in 2022-11, with the labels that each got.

#7663 Improve ShufflePairlist to shuffle only once per candle
  docs/includes/pairlists.md
  freqtrade/plugins/pairlist/IPairList.py
  freqtrade/plugins/pairlist/ShuffleFilter.py
  tests/plugins/test_pairlist.py
Labels: Enhancement, Pairlist

#7689 add integrated tests for PCA and DBSCAN
  tests/freqai/test_freqai_interface.py
Labels: freqAI

#7695 Fix inconsistent backtesting results - FreqAI
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
Labels: Backtest, freqAI

#7702 move write_metrics_to_disk to proper place in param table
  docs/freqai-parameter-table.md
Labels: Documentation, freqAI

#7690 Track current candle in FreqAI
  freqtrade/constants.py
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  tests/freqai/test_freqai_datadrawer.py
  tests/freqai/test_freqai_interface.py
Labels: freqAI

#7708 Improve iteration logic
  freqtrade/worker.py
  tests/test_worker.py
Labels: Enhancement

#7644 Support for multi target multi-class classification (FreqaiMultiOutputRegressor for Classification)
  freqtrade/freqai/base_models/FreqaiMultiOutputClassifier.py
  freqtrade/freqai/prediction_models/CatboostClassifierMultiTarget.py
  freqtrade/freqai/prediction_models/LightGBMClassifierMultiTarget.py
  tests/freqai/test_freqai_interface.py
  tests/rpc/test_rpc_apiserver.py
  tests/strategy/strats/freqai_test_multimodel_classifier_strat.py
  tests/strategy/test_strategy_loading.py
Labels: freqAI

#7730 fix loading of metric tracker from disk
  freqtrade/freqai/data_drawer.py
Labels: freqAI

#7701 add option to force single precision
  config_examples/config_full.example.json
  docs/configuration.md
  docs/freqai-parameter-table.md
  freqtrade/constants.py
  freqtrade/data/converter.py
  freqtrade/freqai/data_kitchen.py
  tests/data/test_converter.py
  tests/freqai/test_freqai_interface.py
Labels: Enhancement, freqAI

#7801 Fix 4ac update_total_profit
  freqtrade/freqai/RL/Base4ActionRLEnv.py
Labels: freqAI

#7771 Refactor WebSocket API for performance
  freqtrade/rpc/api_server/api_auth.py
  freqtrade/rpc/api_server/api_ws.py
  freqtrade/rpc/api_server/deps.py
  freqtrade/rpc/api_server/webserver.py
  freqtrade/rpc/api_server/ws/__init__.py
  freqtrade/rpc/api_server/ws/channel.py
  freqtrade/rpc/api_server/ws/message_stream.py
  freqtrade/rpc/api_server/ws/serializer.py
  tests/rpc/test_rpc_apiserver.py
Labels: Enhancement, RPC

#7707 backtesting - use full detail timeframe
  docs/backtesting.md
  freqtrade/optimize/backtesting.py
  tests/optimize/test_backtesting.py
Labels: Enhancement, Backtest

#7289 Add reinforcement learning module to FreqAI
  build_helpers/publish_docker_arm64.sh
  build_helpers/publish_docker_multi.sh
  docker/Dockerfile.freqai_rl
  docs/freqai-parameter-table.md
  docs/freqai-reinforcement-learning.md
  freqtrade/constants.py
  freqtrade/freqai/RL/Base4ActionRLEnv.py
  freqtrade/freqai/RL/Base5ActionRLEnv.py
  freqtrade/freqai/RL/BaseEnvironment.py
  freqtrade/freqai/RL/BaseReinforcementLearningModel.py
  freqtrade/freqai/RL/__init__.py
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/prediction_models/ReinforcementLearner.py
  freqtrade/freqai/prediction_models/ReinforcementLearner_multiproc.py
  mkdocs.yml
  requirements-dev.txt
  requirements-freqai-rl.txt
  setup.py
  setup.sh
  tests/freqai/conftest.py
  tests/freqai/test_freqai_interface.py
  tests/freqai/test_models/ReinforcementLearner_test_4ac.py
  tests/rpc/test_rpc_apiserver.py
  tests/strategy/strats/freqai_rl_test_strat.py
  tests/strategy/test_strategy_loading.py
Labels: freqAI

#7808 Fix custom reward function link
  docs/freqai-reinforcement-learning.md
  freqtrade/templates/FreqaiExampleHybridStrategy.py
Labels: Documentation, freqAI

#7737 FreqAI - Backtesting enhancements and bug fix
  docs/freqai-running.md
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/utils.py
  tests/freqai/test_freqai_backtesting.py
  tests/freqai/test_freqai_datadrawer.py
  tests/freqai/test_freqai_datakitchen.py
  tests/freqai/test_freqai_interface.py
Labels: Backtest, freqAI
