Repository freqtrade/freqtrade, pull requests merged in 2022-08, with the labels that each got.

#7194 Partial forceExit
  freqtrade/freqtradebot.py
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/rpc.py
  scripts/rest_client.py
  tests/conftest_trades.py
  tests/rpc/test_rpc_apiserver.py
  tests/test_freqtradebot.py
Labels: Enhancement, RPC

#7192 Add script for patching conda libta-lib
  .gitignore
  build_helpers/install_ta-lib.sh
  docs/installation.md
Labels: Install

#6832 Freqai: an interface for users to build/train/backtest predictive models and run them live
  .gitignore
  README.md
  config_examples/config_freqai.example.json
  docker/Dockerfile.freqai
  docs/assets/freqai_algo.png
  docs/assets/freqai_doc_logo.svg
  docs/assets/weights_factor.png
  docs/freqai.md
  freqtrade/commands/arguments.py
  freqtrade/commands/cli_options.py
  freqtrade/commands/data_commands.py
  freqtrade/configuration/configuration.py
  freqtrade/constants.py
  freqtrade/freqai/__init__.py
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/prediction_models/BaseClassifierModel.py
  freqtrade/freqai/prediction_models/BaseRegressionModel.py
  freqtrade/freqai/prediction_models/BaseTensorFlowModel.py
  freqtrade/freqai/prediction_models/CatboostClassifier.py
  freqtrade/freqai/prediction_models/CatboostRegressor.py
  freqtrade/freqai/prediction_models/CatboostRegressorMultiTarget.py
  freqtrade/freqai/prediction_models/LightGBMClassifier.py
  freqtrade/freqai/prediction_models/LightGBMRegressor.py
  freqtrade/freqai/prediction_models/LightGBMRegressorMultiTarget.py
  freqtrade/freqai/prediction_models/__init__.py
  freqtrade/optimize/backtesting.py
  freqtrade/plugins/pairlist/pairlist_helpers.py
  freqtrade/resolvers/freqaimodel_resolver.py
  freqtrade/strategy/interface.py
  freqtrade/templates/FreqaiExampleStrategy.py
  mkdocs.yml
  requirements-dev.txt
  requirements-freqai.txt
  setup.py
  setup.sh
  tests/freqai/conftest.py
  tests/freqai/test_freqai_backtesting.py
  tests/freqai/test_freqai_datadrawer.py
  tests/freqai/test_freqai_datakitchen.py
  tests/freqai/test_freqai_interface.py
  tests/plugins/test_pairlist.py
  tests/rpc/test_rpc_apiserver.py
  tests/strategy/strats/freqai_test_classifier.py
  tests/strategy/strats/freqai_test_multimodel_strat.py
  tests/strategy/strats/freqai_test_strat.py
  tests/strategy/test_interface.py
  tests/strategy/test_strategy_loading.py
  user_data/freqaimodels/.gitkeep
Labels: Enhancement, freqAI

#7243 Improve PCA and pairwise distance calcs
  freqtrade/freqai/data_kitchen.py
Labels: freqAI

#7257 Get min/max data in list-data command
  docs/data-download.md
  freqtrade/commands/arguments.py
  freqtrade/commands/cli_options.py
  freqtrade/commands/data_commands.py
  freqtrade/configuration/configuration.py
  freqtrade/data/history/idatahandler.py
  tests/commands/test_commands.py
Labels: Enhancement

#7282 Plug mem leak, add training timer
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
Labels: freqAI

#7269 Improve DBSCAN epsilon identification
  freqtrade/freqai/data_kitchen.py
Labels: freqAI

#7258 Add flag to move hyperopt populate_indicators to epoch
  docs/hyperopt.md
  freqtrade/commands/arguments.py
  freqtrade/commands/cli_options.py
  freqtrade/configuration/configuration.py
  freqtrade/enums/__init__.py
  freqtrade/enums/hyperoptstate.py
  freqtrade/optimize/hyperopt.py
  freqtrade/optimize/hyperopt_tools.py
  freqtrade/strategy/parameters.py
  tests/strategy/test_interface.py
Labels: Enhancement, Hyperopt

#7296 Change MinPts calculation in DBSCAN
  docs/freqai.md
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/data_kitchen.py
  tests/freqai/conftest.py
  tests/freqai/test_freqai_datakitchen.py
Labels: freqAI

#7260 Example FreqAI hybrid strategy
  config_examples/config_freqai.example.json
  freqtrade/templates/FreqaiHybridExampleStrategy.py
Labels: freqAI

#7298 align TimeInForce to ccxt usage
  config_examples/config_full.example.json
  docs/configuration.md
  docs/exchanges.md
  docs/strategy_migration.md
  freqtrade/constants.py
  freqtrade/exchange/binance.py
  freqtrade/exchange/exchange.py
  freqtrade/exchange/ftx.py
  freqtrade/exchange/gateio.py
  freqtrade/exchange/kraken.py
  freqtrade/exchange/kucoin.py
  freqtrade/exchange/okx.py
  freqtrade/strategy/interface.py
  freqtrade/templates/base_strategy.py.j2
  freqtrade/templates/sample_strategy.py
  tests/exchange/test_exchange.py
  tests/exchange/test_kraken.py
  tests/strategy/test_strategy_loading.py
  tests/test_configuration.py
Labels: Enhancement

#7315 allow users to properly reverse train-test data ordering
  docs/freqai.md
  freqtrade/freqai/data_kitchen.py
Labels: freqAI

#7321 Remove outlier protection from DI
  freqtrade/freqai/data_kitchen.py
Labels: freqAI

#7244 extract download-data from freqai to prepare for future async changes
  config_examples/config_freqai.example.json
  docs/freqai.md
  docs/strategy-customization.md
  freqtrade/data/dataprovider.py
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/utils.py
  freqtrade/optimize/backtesting.py
  freqtrade/strategy/interface.py
  freqtrade/templates/FreqaiExampleStrategy.py
  freqtrade/templates/FreqaiHybridExampleStrategy.py
  tests/freqai/conftest.py
  tests/freqai/test_freqai_backtesting.py
Labels: freqAI
