Repository freqtrade/freqtrade, pull requests merged in 2022-06, with the labels that each got.

#6941 Update CI to use github actions builtin concurrency
  .github/workflows/ci.yml
Labels: Tech maintenance

#6943 Cancel orders which can no longer be found after several days
  freqtrade/freqtradebot.py
  tests/test_freqtradebot.py
Labels: Enhancement

#6958 don't overwrite is_random
  freqtrade/optimize/hyperopt.py
Labels: Hyperopt

#6957 Rpc consolidate daily
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  tests/rpc/test_rpc.py
Labels: RPC, Tech maintenance

#6964 Telegram / api daily relative profit
  docs/telegram-usage.md
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_telegram.py
Labels: Enhancement, RPC

#6874 Buy reasons
  docs/advanced-backtesting.md
  docs/utils.md
  freqtrade/commands/__init__.py
  freqtrade/commands/analyze_commands.py
  freqtrade/commands/arguments.py
  freqtrade/commands/cli_options.py
  freqtrade/configuration/configuration.py
  freqtrade/data/entryexitanalysis.py
  tests/data/test_entryexitanalysis.py
  tests/rpc/test_rpc_apiserver.py
  tests/strategy/strats/strategy_test_v3_analysis.py
  tests/strategy/test_strategy_loading.py
Labels: Enhancement, Backtest

#6987 Profit metrics
  docs/backtesting.md
  docs/telegram-usage.md
  freqtrade/optimize/optimize_reports.py
  freqtrade/persistence/trade_model.py
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  tests/conftest_trades.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
  tests/test_persistence.py
Labels: RPC

#6914 Leverage tiers async
  freqtrade/exchange/exchange.py
  tests/conftest.py
  tests/exchange/test_okx.py
Labels: Enhancement
