Repository freqtrade/freqtrade, pull requests merged in 2022-12, with the labels that each got.

#7836 fix fees RL
  freqtrade/freqai/RL/BaseEnvironment.py
Labels: freqAI

#7735 Improve python GC behavior
  freqtrade/main.py
  freqtrade/util/gc_setup.py
Labels: Tech maintenance

#7840 Add plot_feature_importances output dir to docs
  docs/freqai-parameter-table.md
Labels: freqAI

#7837 freqAI backtesting - Perfomance improvement
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
Labels: Backtest, freqAI

#7862 New websocket message "new_candle"
  freqtrade/data/dataprovider.py
  freqtrade/enums/__init__.py
  freqtrade/enums/rpcmessagetype.py
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/rpc_manager.py
  freqtrade/rpc/webhook.py
  freqtrade/strategy/interface.py
  tests/data/test_dataprovider.py
  tests/rpc/test_rpc_apiserver.py
Labels: Enhancement, RPC, freqUI

#7843 freqai RL agent info during training
  freqtrade/freqai/RL/Base4ActionRLEnv.py
  freqtrade/freqai/RL/Base5ActionRLEnv.py
  freqtrade/freqai/RL/BaseEnvironment.py
  freqtrade/freqai/RL/BaseReinforcementLearningModel.py
  freqtrade/freqai/RL/TensorboardCallback.py
  freqtrade/freqai/prediction_models/ReinforcementLearner.py
  freqtrade/freqai/prediction_models/ReinforcementLearner_multiproc.py
  tests/freqai/test_freqai_interface.py
Labels: freqAI

#7868 Fix add state info bt
  freqtrade/freqai/RL/BaseEnvironment.py
Labels: freqAI

#7860 Ensure base tf to be include_timeframes
  config_examples/config_freqai.example.json
  docs/freqai-configuration.md
  freqtrade/configuration/config_validation.py
  freqtrade/constants.py
  freqtrade/freqai/prediction_models/ReinforcementLearner.py
  tests/test_configuration.py
Labels: freqAI

#7883 fix bug in MultiOutput* with conv_width = 1
  freqtrade/freqai/base_models/BaseClassifierModel.py
  freqtrade/freqai/base_models/BaseRegressionModel.py
Labels: freqAI

#7866 Cleanup tensorboard callback
  docs/freqai-reinforcement-learning.md
  freqtrade/freqai/RL/Base4ActionRLEnv.py
  freqtrade/freqai/RL/Base5ActionRLEnv.py
  freqtrade/freqai/RL/BaseEnvironment.py
  freqtrade/freqai/RL/TensorboardCallback.py
  freqtrade/freqai/prediction_models/ReinforcementLearner.py
Labels: freqAI

#7842 Change to broadcasting single candles in Producer/Consumer
  freqtrade/constants.py
  freqtrade/data/dataprovider.py
  freqtrade/misc.py
  freqtrade/rpc/api_server/api_ws.py
  freqtrade/rpc/api_server/ws/channel.py
  freqtrade/rpc/api_server/ws_schemas.py
  freqtrade/rpc/external_message_consumer.py
  freqtrade/rpc/rpc.py
  tests/data/test_dataprovider.py
  tests/rpc/test_rpc_emc.py
Labels: Enhancement, RPC

#7901 delisted bibox following ccxt PR https://github.com/ccxt/ccxt/pull/16067
  freqtrade/exchange/__init__.py
  freqtrade/exchange/bibox.py
  tests/exchange/test_exchange.py
Labels: CCXT

#7906 fix base4 env done condition
  freqtrade/freqai/RL/Base4ActionRLEnv.py
Labels: freqAI

#7907 Add JOSS citation to freqai doc
  docs/freqai.md
Labels: freqAI

#7908 Add 3 Action RL Env
  docs/freqai-reinforcement-learning.md
  freqtrade/freqai/RL/Base3ActionRLEnv.py
  freqtrade/freqai/RL/BaseEnvironment.py
  freqtrade/freqai/RL/BaseReinforcementLearningModel.py
  freqtrade/freqai/freqai_interface.py
  tests/freqai/test_freqai_interface.py
  tests/freqai/test_models/ReinforcementLearner_test_3ac.py
Labels: freqAI

#7867 Add Remotepairlist
  docs/includes/pairlists.md
  freqtrade/constants.py
  freqtrade/plugins/pairlist/RemotePairList.py
  tests/plugins/test_pairlist.py
  tests/plugins/test_remotepairlist.py
Labels: Pairlist

#7923 Freqai backtest
  freqtrade/rpc/api_server/api_backtest.py
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/api_server/api_v1.py
  tests/rpc/test_rpc_apiserver.py
Labels: RPC

#7810 Add more calculations for backtest metrics
  docs/backtesting.md
  freqtrade/data/metrics.py
  freqtrade/optimize/optimize_reports.py
  tests/data/test_btanalysis.py
Labels: Enhancement, Backtest
