Repository freqtrade/freqtrade, pull requests merged in 2023-07, with the labels that each got.

#8863 Bump datasieve 0.1.7
  requirements-freqai.txt
  requirements.txt
Labels: Dependencies, Python

#8819 Remotepairlist - add blacklist mode
  docs/includes/pairlists.md
  freqtrade/plugins/pairlist/RemotePairList.py
  tests/plugins/test_pairlist.py
  tests/plugins/test_remotepairlist.py
Labels: Enhancement, Pairlist

#8872 bump ccxt to 4.0.14
  docs/configuration.md
  requirements.txt
  setup.py
  tests/exchange/test_ccxt_compat.py
Labels: Dependencies, Python

#8874 Improve/convert data
  freqtrade/commands/data_commands.py
  freqtrade/data/converter.py
  tests/data/test_converter.py
Labels: Data download

#8901 Avoid false-triggering "dust-eating" logic for rebuys
  freqtrade/freqtradebot.py
  tests/test_freqtradebot.py
Labels: Bug

#8867 Add community showcase
  docs/includes/showcase.md
  docs/index.md
Labels: Documentation

#8914 Dry-run open balance should include realized profit
  freqtrade/wallets.py
  tests/test_integration.py
  tests/test_wallets.py
Labels: Bug

#8931 chore: remove inlier metric
  docs/freqai-parameter-table.md
  freqtrade/freqai/freqai_interface.py
Labels: freqAI

#8934 Update docker-compose-freqai.yml
  docker/docker-compose-freqai.yml
Labels: freqAI

#8912 Add expectancy to RPC calls and telegram
  docs/telegram-usage.md
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
Labels: Enhancement, RPC
