Repository freqtrade/freqtrade, pull requests merged in 2023-05, with the labels that each got.

#8336 Added the latest Gymnasium version 0.28(will be released shortly),
  freqtrade/freqai/RL/Base3ActionRLEnv.py
  freqtrade/freqai/RL/Base4ActionRLEnv.py
  freqtrade/freqai/RL/Base5ActionRLEnv.py
  freqtrade/freqai/RL/BaseEnvironment.py
  freqtrade/freqai/RL/BaseReinforcementLearningModel.py
  freqtrade/freqai/RL/TensorboardCallback.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/prediction_models/ReinforcementLearner.py
  freqtrade/freqai/prediction_models/ReinforcementLearner_multiproc.py
  requirements-freqai-rl.txt
Labels: freqAI

#8587 Remove dependency workarounds in place for gym
  .github/workflows/ci.yml
  Dockerfile
  build_helpers/install_windows.ps1
  docs/installation.md
  pyproject.toml
  requirements-freqai-rl.txt
  setup.sh
Labels: Tech maintenance

#7861 Add support for collating and analysing rejected signals in backtest
  docs/advanced-backtesting.md
  docs/utils.md
  freqtrade/commands/arguments.py
  freqtrade/commands/cli_options.py
  freqtrade/configuration/configuration.py
  freqtrade/data/entryexitanalysis.py
  freqtrade/optimize/backtesting.py
  freqtrade/optimize/optimize_reports.py
  tests/data/test_entryexitanalysis.py
  tests/optimize/test_backtesting.py
  tests/optimize/test_optimize_reports.py
Labels: Enhancement, Backtest

#8596 Bugfix/tensor to numpy
  freqtrade/freqai/base_models/BasePyTorchClassifier.py
  freqtrade/freqai/base_models/BasePyTorchRegressor.py
Labels: freqAI

#8598 bug fix backtest feature validation
  freqtrade/freqai/freqai_interface.py
Labels: freqAI

#8580 Add transformer to FreqAI
  docs/freqai-configuration.md
  docs/freqai-parameter-table.md
  freqtrade/freqai/base_models/BasePyTorchClassifier.py
  freqtrade/freqai/base_models/BasePyTorchModel.py
  freqtrade/freqai/base_models/BasePyTorchRegressor.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/prediction_models/PyTorchTransformerRegressor.py
  freqtrade/freqai/torch/PyTorchDataConvertor.py
  freqtrade/freqai/torch/PyTorchMLPModel.py
  freqtrade/freqai/torch/PyTorchModelTrainer.py
  freqtrade/freqai/torch/PyTorchTransformerModel.py
  freqtrade/freqai/torch/datasets.py
  requirements-freqai-rl.txt
  tests/freqai/test_freqai_interface.py
Labels: Enhancement, freqAI

#8611 Run Torch tests on 3.11
  tests/freqai/test_freqai_interface.py
Labels: Tech maintenance, freqAI

#8620 Properly enable pytorch tests
  tests/freqai/test_freqai_interface.py
Labels: Tech maintenance

#8626 Check for repository changes
  .github/workflows/ci.yml
Labels: Tech maintenance

#8630 Maint/test user data
  tests/conftest.py
  tests/data/test_entryexitanalysis.py
  tests/test_configuration.py
  tests/test_plotting.py
  tests/test_strategy_updater.py
Labels: Tech maintenance

#8631 Clarify expectations about the FreqAI + Freqtrade tool
  docs/freqai-reinforcement-learning.md
  docs/freqai.md
  freqtrade/freqai/RL/BaseEnvironment.py
  freqtrade/freqai/RL/BaseReinforcementLearningModel.py
  freqtrade/freqai/prediction_models/ReinforcementLearner.py
  freqtrade/templates/FreqaiExampleStrategy.py
  tests/freqai/test_models/ReinforcementLearner_test_3ac.py
  tests/freqai/test_models/ReinforcementLearner_test_4ac.py
Labels: Documentation, freqAI

#8634 fix bug in continual_learning for PyTorch* models
  docs/freqai-parameter-table.md
  docs/freqai-running.md
  freqtrade/freqai/prediction_models/PyTorchMLPClassifier.py
  freqtrade/freqai/prediction_models/PyTorchMLPRegressor.py
  freqtrade/freqai/prediction_models/PyTorchTransformerRegressor.py
  freqtrade/freqai/torch/PyTorchModelTrainer.py
Labels: Bug, freqAI

#8560 Recover trades after selling on exchange
  docs/rest-api.md
  docs/telegram-usage.md
  freqtrade/enums/exittype.py
  freqtrade/exchange/common.py
  freqtrade/exchange/exchange.py
  freqtrade/freqtradebot.py
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  freqtrade/wallets.py
  tests/exchange/test_exchange.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
  tests/test_freqtradebot.py
  tests/test_integration.py
  tests/test_wallets.py
Labels: Enhancement

#8588 Bump catboost to 1.2, disable some constraints
  requirements-freqai.txt
  tests/freqai/test_freqai_interface.py
Labels: Tech maintenance, freqAI

#8327 Support for python 3.11 via setup.sh script
  setup.sh
Labels: Install

#8623 Add Tensorboard logger for PyTorch and XGBoost
  docs/freqai-parameter-table.md
  docs/freqai-running.md
  freqtrade/freqai/RL/BaseReinforcementLearningModel.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/prediction_models/PyTorchMLPClassifier.py
  freqtrade/freqai/prediction_models/PyTorchMLPRegressor.py
  freqtrade/freqai/prediction_models/PyTorchTransformerRegressor.py
  freqtrade/freqai/prediction_models/ReinforcementLearner.py
  freqtrade/freqai/prediction_models/ReinforcementLearner_multiproc.py
  freqtrade/freqai/prediction_models/XGBoostRegressor.py
  freqtrade/freqai/tensorboard/TensorboardCallback.py
  freqtrade/freqai/tensorboard/__init__.py
  freqtrade/freqai/tensorboard/base_tensorboard.py
  freqtrade/freqai/tensorboard/tensorboard.py
  freqtrade/freqai/torch/PyTorchModelTrainer.py
  freqtrade/freqai/utils.py
  tests/freqai/conftest.py
  tests/freqai/test_freqai_datakitchen.py
  tests/freqai/test_freqai_interface.py
Labels: Enhancement, freqAI

#8650 Better secure the user's exchange keys during runtime
  freqtrade/constants.py
  freqtrade/exchange/__init__.py
  freqtrade/exchange/common.py
  freqtrade/exchange/exchange.py
  freqtrade/freqtradebot.py
  freqtrade/resolvers/exchange_resolver.py
  freqtrade/rpc/api_server/api_backtest.py
  tests/exchange/test_exchange.py
  tests/test_freqtradebot.py
Labels: Enhancement

#8686 okx stop improvements
  freqtrade/exchange/okx.py
Labels: Bug

#8622 Add check for None prices in forceenter REST API script
  scripts/rest_client.py
Labels: RPC
