Repository freqtrade/freqtrade, pull requests merged in 2023-01, with the labels that each got.

#7966 Fix ROI table comma and spacing
  docs/hyperopt.md
Labels: Documentation

#7981 Improve backtest detail speed
  freqtrade/optimize/backtesting.py
Labels: Backtest

#7950 FreqAI Strategy - Improve user experience
  docs/freqai-configuration.md
  docs/freqai-feature-engineering.md
  docs/freqai-parameter-table.md
  docs/freqai-reinforcement-learning.md
  docs/freqai-running.md
  docs/strategy_migration.md
  freqtrade/freqai/RL/BaseReinforcementLearningModel.py
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/strategy/interface.py
  freqtrade/templates/FreqaiExampleHybridStrategy.py
  freqtrade/templates/FreqaiExampleStrategy.py
  mkdocs.yml
  tests/freqai/test_freqai_datakitchen.py
  tests/freqai/test_freqai_interface.py
  tests/strategy/strats/freqai_rl_test_strat.py
  tests/strategy/strats/freqai_test_classifier.py
  tests/strategy/strats/freqai_test_multimodel_classifier_strat.py
  tests/strategy/strats/freqai_test_multimodel_strat.py
  tests/strategy/strats/freqai_test_strat.py
Labels: freqAI

#8014 Binance futures naming migration
  docs/leverage.md
  freqtrade/commands/data_commands.py
  freqtrade/data/history/idatahandler.py
  freqtrade/exchange/binance.py
  freqtrade/exchange/binance_leverage_tiers.json
  freqtrade/freqtradebot.py
  freqtrade/optimize/backtesting.py
  freqtrade/util/binance_mig.py
  requirements.txt
  setup.py
  tests/commands/test_commands.py
  tests/conftest.py
  tests/data/test_converter.py
  tests/data/test_datahandler.py
  tests/data/test_history.py
  tests/exchange/test_binance.py
  tests/exchange/test_ccxt_compat.py
  tests/exchange/test_exchange.py
  tests/exchange/test_okx.py
  tests/optimize/test_backtesting.py
  tests/rpc/test_rpc_apiserver.py
  tests/test_binance_mig.py
  tests/testdata/futures/UNITTEST_USDT_USDT-1h-mark.json
  tests/testdata/futures/XRP_USDT_USDT-1h-futures.json
  tests/testdata/futures/XRP_USDT_USDT-1h-futures.json.gz
  tests/testdata/futures/XRP_USDT_USDT-1h-mark.json
  tests/testdata/futures/XRP_USDT_USDT-8h-funding_rate.json
  tests/testdata/futures/XRP_USDT_USDT-8h-mark.json
Labels: CCXT, Non-spot

#7976 Hyperopt Max open trades
  docs/advanced-hyperopt.md
  docs/configuration.md
  docs/hyperopt.md
  freqtrade/commands/cli_options.py
  freqtrade/constants.py
  freqtrade/data/btanalysis.py
  freqtrade/optimize/backtesting.py
  freqtrade/optimize/hyperopt.py
  freqtrade/optimize/hyperopt_auto.py
  freqtrade/optimize/hyperopt_interface.py
  freqtrade/optimize/hyperopt_tools.py
  freqtrade/optimize/optimize_reports.py
  freqtrade/resolvers/strategy_resolver.py
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/rpc.py
  freqtrade/strategy/hyper.py
  freqtrade/strategy/interface.py
  tests/optimize/test_backtest_detail.py
  tests/optimize/test_backtesting.py
  tests/optimize/test_backtesting_adjust_position.py
  tests/optimize/test_hyperopt.py
  tests/optimize/test_hyperopt_tools.py
  tests/strategy/strats/strategy_test_v3.py
  tests/strategy/test_strategy_loading.py
Labels: Enhancement, Hyperopt

#8035 Enable plotconfig wsmode
  .pre-commit-config.yaml
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/rpc.py
  tests/rpc/test_rpc_apiserver.py
  tests/strategy/strats/hyperoptable_strategy.py
Labels: Enhancement, RPC

#8040 Enable mypy defaults for Optional typechecking
  freqtrade/configuration/configuration.py
  freqtrade/configuration/load_config.py
  freqtrade/data/btanalysis.py
  freqtrade/data/dataprovider.py
  freqtrade/data/history/history_utils.py
  freqtrade/data/history/idatahandler.py
  freqtrade/exchange/exchange.py
  freqtrade/exchange/exchange_utils.py
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqtradebot.py
  freqtrade/main.py
  freqtrade/misc.py
  freqtrade/optimize/backtesting.py
  freqtrade/optimize/hyperopt_tools.py
  freqtrade/persistence/pairlock_middleware.py
  freqtrade/persistence/trade_model.py
  freqtrade/plot/plotting.py
  freqtrade/plugins/pairlistmanager.py
  freqtrade/resolvers/strategy_resolver.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  freqtrade/strategy/hyper.py
  freqtrade/strategy/interface.py
  freqtrade/worker.py
  pyproject.toml
  scripts/rest_client.py
Labels: Tech maintenance

#8059 Bybit futures support :tada:
  README.md
  docs/exchanges.md
  docs/index.md
  freqtrade/exchange/binance.py
  freqtrade/exchange/bybit.py
  freqtrade/exchange/exchange.py
  freqtrade/exchange/kraken.py
  freqtrade/freqtradebot.py
  freqtrade/optimize/backtesting.py
  tests/exchange/test_bybit.py
  tests/exchange/test_ccxt_compat.py
  tests/exchange/test_exchange.py
  tests/test_freqtradebot.py
Labels: Enhancement, Non-spot
