Repository freqtrade/freqtrade, pull requests merged in 2023-12, with the labels that each got.

#9468 Use cloudpickle to pickle freqai models
  freqtrade/freqai/data_drawer.py
Labels: Bug, freqAI

#9493 chore: fix future warning on pandas
  freqtrade/freqai/data_drawer.py
Labels: freqAI

#9512 Revert "Bump tables from 3.9.1 to 3.9.2"
  requirements.txt
Labels: Dependencies, Python, Tech maintenance

#9505 Fix multiple new Pandas 2.1 future warnings in FreqAI startup
  freqtrade/freqai/data_drawer.py
Labels: freqAI

#9514 Remove "activate" kwarg to xgboost calls
  freqtrade/freqai/prediction_models/XGBoostRFRegressor.py
  freqtrade/freqai/prediction_models/XGBoostRegressor.py
Labels: Tech maintenance, freqAI

#9509 macos-13 CI
  .github/workflows/ci.yml
Labels: Tech maintenance

#9523 Bugfix: ensure zeros are properly appended after each inference
  freqtrade/freqai/data_drawer.py
Labels: Bug, freqAI

#9522 Improve funding fee calculation
  freqtrade/optimize/backtesting.py
  tests/optimize/test_backtesting.py
  tests/optimize/test_backtesting_adjust_position.py
Labels: Enhancement, Backtest

#9540 Prevent config modification during webserver startup
  freqtrade/configuration/config_validation.py
Labels: Bug, freqAI

#9558 Pyproject toml, improve release CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  MANIFEST.in
  pyproject.toml
  setup.cfg
  setup.py
Labels: Tech maintenance

#9561 Revert "Merge pull request #9450 from freqtrade/fix/startup-candle-count"
  freqtrade/optimize/backtesting.py
Labels: Bug, Backtest, freqAI

#9577 Add SKLearnRandomForestClassifier
  freqtrade/freqai/prediction_models/SKLearnRandomForestClassifier.py
  tests/freqai/test_freqai_interface.py
  tests/rpc/test_rpc_apiserver.py
Labels: Enhancement, freqAI

#9576 Make freqai example strat *even* simpler
  freqtrade/templates/FreqaiExampleStrategy.py
Labels: freqAI

#9519 Add macos-13 to ci matrix
  .github/workflows/ci.yml
Labels: Tech maintenance

#9590 add pytest-xdist to speed up tests
  .github/workflows/ci.yml
  requirements-dev.txt
  tests/conftest.py
Labels: Tech maintenance

#9602 Freqai small enhancements
  freqtrade/freqai/base_models/FreqaiMultiOutputClassifier.py
  freqtrade/freqai/base_models/FreqaiMultiOutputRegressor.py
  tests/freqai/test_freqai_interface.py
Labels: Tech maintenance, freqAI

#9515 In partial exit, do full exit if remaining == 0
  docs/strategy-callbacks.md
  freqtrade/freqtradebot.py
  freqtrade/optimize/backtesting.py
  tests/test_integration.py
Labels: Enhancement

#9613 Rpc/fix telegram forcebuy
  freqtrade/rpc/telegram.py
Labels: Bug, RPC
