Repository freqtrade/freqtrade, pull requests merged in 2023-09, with the labels that each got.

#9137 Implment weekly/monthly RPC endpoints
  docs/rest-api.md
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  scripts/rest_client.py
  tests/rpc/test_rpc_apiserver.py
Labels: Enhancement, RPC

#9133 add QRDQN to SB3_CONTRIB_MODELS
  freqtrade/freqai/RL/BaseReinforcementLearningModel.py
Labels: freqAI

#9151 Refactor calculate profits
  freqtrade/freqtradebot.py
  freqtrade/persistence/trade_model.py
  freqtrade/rpc/rpc.py
  tests/persistence/test_persistence.py
  tests/rpc/test_rpc.py
Labels: Tech maintenance

#9153 Add better drawdown metrics to /profit outputs
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  tests/rpc/test_rpc_apiserver.py
Labels: RPC

#8779 Feature: use order object instead of open_order_id field
  freqtrade/freqtradebot.py
  freqtrade/optimize/backtesting.py
  freqtrade/persistence/migrations.py
  freqtrade/persistence/trade_model.py
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  tests/conftest.py
  tests/conftest_trades.py
  tests/conftest_trades_usdt.py
  tests/persistence/test_migrations.py
  tests/persistence/test_persistence.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_apiserver.py
  tests/test_freqtradebot.py
  tests/test_integration.py
Labels: Enhancement

#9179 chore: fix bug associated with leaving FreqAI offline for more than 1candle
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/templates/FreqaiExampleStrategy.py
  tests/freqai/test_freqai_datadrawer.py
Labels: Bug, freqAI

#9188 Add trade param to custom entry price
  docs/strategy-callbacks.md
  docs/strategy_migration.md
  freqtrade/freqtradebot.py
  freqtrade/optimize/backtesting.py
  freqtrade/strategy/interface.py
  freqtrade/templates/strategy_subtemplates/strategy_methods_advanced.j2
  tests/strategy/strats/strategy_test_v3_custom_entry_price.py
Labels: Enhancement

#9191 Bug: FreqAI fit_live_predictions()
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/data_kitchen.py
  tests/freqai/test_freqai_datadrawer.py
Labels: Bug, freqAI

#9207 Bump ccxt to 4.0.101
  requirements.txt
  tests/exchange_online/conftest.py
  tests/exchange_online/test_ccxt_compat.py
Labels: Dependencies, Python

#9187 Add FullTradesPairlist
  config_examples/config_full.example.json
  docs/includes/pairlists.md
  freqtrade/constants.py
  freqtrade/plugins/pairlist/FullTradesFilter.py
  tests/plugins/test_pairlist.py
Labels: Enhancement, Pairlist

#9152 Add recursive-analysis sub-command
  docs/recursive-analysis.md
  docs/strategy-customization.md
  freqtrade/commands/__init__.py
  freqtrade/commands/arguments.py
  freqtrade/commands/cli_options.py
  freqtrade/commands/optimize_commands.py
  freqtrade/configuration/configuration.py
  freqtrade/constants.py
  freqtrade/optimize/base_analysis.py
  freqtrade/optimize/lookahead_analysis.py
  freqtrade/optimize/lookahead_analysis_helpers.py
  freqtrade/optimize/recursive_analysis.py
  freqtrade/optimize/recursive_analysis_helpers.py
  freqtrade/templates/sample_strategy.py
  mkdocs.yml
  tests/commands/test_commands.py
  tests/optimize/test_recursive_analysis.py
  tests/rpc/test_rpc_apiserver.py
  tests/strategy/strats/strategy_test_v3_recursive_issue.py
  tests/strategy/test_strategy_loading.py
Labels: Enhancement
