Repository freqtrade/freqtrade, pull requests merged in 2023-06, with the labels that each got.

#8721 Update freqai.md
  docs/freqai.md
Labels: freqAI

#8590 Fix disrepancy in freqai doc code example
  docs/freqai-configuration.md
  freqtrade/templates/FreqaiExampleStrategy.py
Labels: Documentation, freqAI

#8530 Provide pairlists via API
  freqtrade/enums/marginmode.py
  freqtrade/plugins/pairlist/AgeFilter.py
  freqtrade/plugins/pairlist/IPairList.py
  freqtrade/plugins/pairlist/OffsetFilter.py
  freqtrade/plugins/pairlist/PerformanceFilter.py
  freqtrade/plugins/pairlist/PrecisionFilter.py
  freqtrade/plugins/pairlist/PriceFilter.py
  freqtrade/plugins/pairlist/ProducerPairList.py
  freqtrade/plugins/pairlist/RemotePairList.py
  freqtrade/plugins/pairlist/ShuffleFilter.py
  freqtrade/plugins/pairlist/SpreadFilter.py
  freqtrade/plugins/pairlist/StaticPairList.py
  freqtrade/plugins/pairlist/VolatilityFilter.py
  freqtrade/plugins/pairlist/VolumePairList.py
  freqtrade/plugins/pairlist/rangestabilityfilter.py
  freqtrade/rpc/api_server/api_background_tasks.py
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/api_server/deps.py
  freqtrade/rpc/api_server/webserver.py
  freqtrade/rpc/api_server/webserver_bgwork.py
  scripts/rest_client.py
  tests/rpc/test_rpc_apiserver.py
Labels: Enhancement, RPC

#8790 Add links to more FreqAI learning content
  docs/freqai-feature-engineering.md
  docs/freqai.md
Labels: Documentation, freqAI

#8760 Add MaskablePPO support
  freqtrade/freqai/RL/BaseEnvironment.py
  freqtrade/freqai/RL/BaseReinforcementLearningModel.py
  freqtrade/freqai/prediction_models/ReinforcementLearner_multiproc.py
Labels: freqAI

#8369 backtest - lookahead_analysis
  docs/lookahead-analysis.md
  freqtrade/commands/__init__.py
  freqtrade/commands/arguments.py
  freqtrade/commands/cli_options.py
  freqtrade/commands/optimize_commands.py
  freqtrade/configuration/configuration.py
  freqtrade/constants.py
  freqtrade/loggers/set_log_levels.py
  freqtrade/optimize/backtesting.py
  freqtrade/optimize/lookahead_analysis.py
  freqtrade/optimize/lookahead_analysis_helpers.py
  mkdocs.yml
  tests/optimize/test_lookahead_analysis.py
  tests/strategy/strats/lookahead_bias/strategy_test_v3_with_lookahead_bias.py
  tests/test_log_setup.py
Labels: Enhancement

#8692 Outsource data pipeline handling to improve flexibility
  docs/freqai-feature-engineering.md
  docs/strategy_migration.md
  freqtrade/constants.py
  freqtrade/freqai/RL/BaseReinforcementLearningModel.py
  freqtrade/freqai/base_models/BaseClassifierModel.py
  freqtrade/freqai/base_models/BasePyTorchClassifier.py
  freqtrade/freqai/base_models/BasePyTorchModel.py
  freqtrade/freqai/base_models/BasePyTorchRegressor.py
  freqtrade/freqai/base_models/BaseRegressionModel.py
  freqtrade/freqai/base_models/BaseTensorFlowModel.py
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/prediction_models/PyTorchTransformerRegressor.py
  freqtrade/freqai/prediction_models/XGBoostRFRegressor.py
  freqtrade/resolvers/freqaimodel_resolver.py
  freqtrade/util/binance_mig.py
  requirements-freqai.txt
  setup.py
  tests/freqai/test_freqai_datakitchen.py
  tests/freqai/test_freqai_interface.py
Labels: Enhancement, freqAI

#8818 Use Self typing
  freqtrade/configuration/timerange.py
  freqtrade/persistence/trade_model.py
Labels: Tech maintenance

#8823 Fix/outlier check
  docs/freqai-configuration.md
  docs/strategy_migration.md
  freqtrade/freqai/base_models/BaseClassifierModel.py
  freqtrade/freqai/base_models/BasePyTorchClassifier.py
  freqtrade/freqai/base_models/BasePyTorchRegressor.py
  freqtrade/freqai/base_models/BaseRegressionModel.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/prediction_models/PyTorchTransformerRegressor.py
  requirements-freqai.txt
Labels: Bug, freqAI

#8824 Refactor/optimize reports
  freqtrade/optimize/optimize_reports/__init__.py
  freqtrade/optimize/optimize_reports/bt_output.py
  freqtrade/optimize/optimize_reports/bt_storage.py
  freqtrade/optimize/optimize_reports/optimize_reports.py
  tests/optimize/test_backtesting.py
  tests/optimize/test_optimize_reports.py
Labels: Tech maintenance

#8835 make sure default PCA behavior reduces parameter space size
  freqtrade/freqai/freqai_interface.py
Labels: freqAI
