Repository freqtrade/freqtrade, pull requests merged in 2023-02, with the labels that each got.

#8083 Gym aid
  docs/installation.md
  requirements-freqai-rl.txt
  setup.sh
Labels: Install

#8095 remove follow mode in favor of producer consumer
  docs/freqai-parameter-table.md
  docs/freqai-running.md
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/freqai_interface.py
  tests/freqai/test_freqai_interface.py
Labels: freqAI

#8109 Pass metadata dictionary to feature_engineering_* and set_freqai_targets()
  docs/freqai-feature-engineering.md
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/strategy/interface.py
  freqtrade/templates/FreqaiExampleHybridStrategy.py
  freqtrade/templates/FreqaiExampleStrategy.py
  tests/strategy/strats/freqai_rl_test_strat.py
  tests/strategy/strats/freqai_test_classifier.py
  tests/strategy/strats/freqai_test_multimodel_classifier_strat.py
  tests/strategy/strats/freqai_test_multimodel_strat.py
  tests/strategy/strats/freqai_test_strat.py
Labels: freqAI

#8086 Cancel open orders through UI/telegram
  docs/rest-api.md
  docs/telegram-usage.md
  freqtrade/freqtradebot.py
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  scripts/rest_client.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
  tests/test_freqtradebot.py
Labels: Enhancement, RPC

#8120 stoploss price type
  config_examples/config_full.example.json
  docs/stoploss.md
  freqtrade/constants.py
  freqtrade/enums/__init__.py
  freqtrade/enums/pricetype.py
  freqtrade/exchange/binance.py
  freqtrade/exchange/bybit.py
  freqtrade/exchange/exchange.py
  freqtrade/exchange/gateio.py
  freqtrade/exchange/okx.py
  tests/exchange/test_binance.py
  tests/exchange/test_exchange.py
  tests/exchange/test_gateio.py
Labels: Enhancement, Stoploss, Non-spot

#8147 Add pair to environment for access inside calculate_reward
  docs/freqai-reinforcement-learning.md
  freqtrade/freqai/RL/BaseEnvironment.py
  freqtrade/freqai/RL/BaseReinforcementLearningModel.py
  freqtrade/freqai/prediction_models/ReinforcementLearner_multiproc.py
Labels: freqAI

#8149 Update gateio terminology to Gate
  docs/stoploss.md
  freqtrade/commands/build_config_commands.py
  freqtrade/exchange/__init__.py
  freqtrade/exchange/common.py
  freqtrade/exchange/exchange.py
  freqtrade/exchange/gate.py
  tests/exchange/test_ccxt_compat.py
  tests/exchange/test_exchange.py
  tests/exchange/test_gate.py
  tests/test_freqtradebot.py
Labels: Tech maintenance

#8182 generalize model_exists() for RL and Keras
  freqtrade/freqai/freqai_interface.py
Labels: freqAI

#7904 add shuffle_after_split option
  docs/freqai-parameter-table.md
  freqtrade/constants.py
  freqtrade/freqai/data_kitchen.py
  tests/freqai/conftest.py
  tests/freqai/test_freqai_interface.py
Labels: freqAI

#8205 * fixed filename in model_exists
  freqtrade/freqai/freqai_interface.py
Labels: freqAI

#8207 add imposter disclaimer to FreqAI front page
  docs/freqai.md
Labels: freqAI

#8215 fix link in freqai index.md
  docs/freqai.md
Labels: freqAI

#8210 Allow user to control number of historical model files
  config_examples/config_freqai.example.json
  docs/freqai-configuration.md
  docs/freqai-parameter-table.md
  docs/freqai.md
  freqtrade/constants.py
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/templates/FreqaiExampleHybridStrategy.py
  tests/freqai/conftest.py
Labels: freqAI

#8203 Add buffer_train_data_candles feature
  docs/freqai-parameter-table.md
  freqtrade/constants.py
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  tests/freqai/conftest.py
  tests/freqai/test_freqai_interface.py
Labels: freqAI

#8216 Close training and eval environments in ReinforcementLearner_multiproc
  freqtrade/freqai/prediction_models/ReinforcementLearner_multiproc.py
Labels: freqAI

#7975 handle data gaps between FreqAI and DP better
  freqtrade/freqai/data_drawer.py
Labels: freqAI

#8184 Feature market direction
  docs/telegram-usage.md
  freqtrade/enums/__init__.py
  freqtrade/enums/marketstatetype.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  freqtrade/strategy/interface.py
  tests/rpc/test_rpc_telegram.py
Labels: Enhancement, RPC
