Repository freqtrade/freqtrade, pull requests merged in 2023-04, with the labels that each got.

#8412 support partially filled stops
  freqtrade/freqtradebot.py
  freqtrade/persistence/trade_model.py
  tests/test_freqtradebot.py
Labels: Bug

#8423 make trade_type value more explicit, add profit to trade_history dict
  freqtrade/freqai/RL/Base3ActionRLEnv.py
  freqtrade/freqai/RL/Base4ActionRLEnv.py
  freqtrade/freqai/RL/Base5ActionRLEnv.py
Labels: freqAI

#8388 Bug fix: FreqAI backtest target setting
  freqtrade/freqai/data_kitchen.py
  freqtrade/freqai/freqai_interface.py
  tests/freqai/conftest.py
  tests/freqai/test_freqai_datadrawer.py
  tests/freqai/test_freqai_datakitchen.py
  tests/freqai/test_freqai_interface.py
Labels: Bug, freqAI

#8459 Add initial bot start time to /profit endpoint
  docs/telegram-usage.md
  freqtrade/freqtradebot.py
  freqtrade/persistence/__init__.py
  freqtrade/persistence/key_value_store.py
  freqtrade/persistence/models.py
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  tests/persistence/test_key_value_store.py
  tests/rpc/test_rpc_apiserver.py
Labels: Enhancement

#8297 Feat/add pytorch model support
  build_helpers/publish_docker_arm64.sh
  docs/assets/freqai_pytorch-diagram.png
  docs/freqai-configuration.md
  docs/freqai-parameter-table.md
  freqtrade/freqai/base_models/BasePyTorchClassifier.py
  freqtrade/freqai/base_models/BasePyTorchModel.py
  freqtrade/freqai/base_models/BasePyTorchRegressor.py
  freqtrade/freqai/data_drawer.py
  freqtrade/freqai/freqai_interface.py
  freqtrade/freqai/prediction_models/CatboostClassifier.py
  freqtrade/freqai/prediction_models/CatboostClassifierMultiTarget.py
  freqtrade/freqai/prediction_models/CatboostRegressor.py
  freqtrade/freqai/prediction_models/CatboostRegressorMultiTarget.py
  freqtrade/freqai/prediction_models/LightGBMClassifier.py
  freqtrade/freqai/prediction_models/LightGBMClassifierMultiTarget.py
  freqtrade/freqai/prediction_models/LightGBMRegressor.py
  freqtrade/freqai/prediction_models/LightGBMRegressorMultiTarget.py
  freqtrade/freqai/prediction_models/PyTorchMLPClassifier.py
  freqtrade/freqai/prediction_models/PyTorchMLPRegressor.py
  freqtrade/freqai/prediction_models/XGBoostClassifier.py
  freqtrade/freqai/prediction_models/XGBoostRFClassifier.py
  freqtrade/freqai/prediction_models/XGBoostRFRegressor.py
  freqtrade/freqai/prediction_models/XGBoostRegressor.py
  freqtrade/freqai/prediction_models/XGBoostRegressorMultiTarget.py
  freqtrade/freqai/torch/PyTorchDataConvertor.py
  freqtrade/freqai/torch/PyTorchMLPModel.py
  freqtrade/freqai/torch/PyTorchModelTrainer.py
  freqtrade/freqai/torch/PyTorchTrainerInterface.py
  freqtrade/freqai/torch/__init__.py
  freqtrade/templates/FreqaiExampleHybridStrategy.py
  setup.sh
  tests/freqai/conftest.py
  tests/freqai/test_freqai_interface.py
  tests/strategy/strats/freqai_test_classifier.py
Labels: Enhancement, freqAI

#8461 hyperopt progressbar -> rich
  freqtrade/loggers/__init__.py
  freqtrade/loggers/buffering_handler.py
  freqtrade/loggers/std_err_stream_handler.py
  freqtrade/optimize/hyperopt.py
  requirements-hyperopt.txt
  requirements.txt
  setup.py
  tests/test_configuration.py
Labels: Hyperopt

#8494 Bug fix: ensure data is on same device as model
  freqtrade/freqai/base_models/BasePyTorchRegressor.py
  freqtrade/freqai/torch/PyTorchModelTrainer.py
Labels: freqAI

#8426 Add sb3 learn progress bar
  docs/freqai-parameter-table.md
  freqtrade/constants.py
  freqtrade/freqai/prediction_models/ReinforcementLearner.py
  requirements-freqai-rl.txt
Labels: freqAI

#8499 Telegram. Fixed the blacklist removal message
  freqtrade/rpc/telegram.py
Labels: RPC

#8537 Improve balance output
  docs/telegram-usage.md
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
Labels: Enhancement, RPC
