Repository freqtrade/freqtrade, pull requests merged in 2024-01, with the labels that each got.

#9631 Help direct people to freqai support
  docs/freqai.md
Labels: freqAI

#9638 Fix/funding rate timeframe
  freqtrade/commands/data_commands.py
  freqtrade/data/history/history_utils.py
  freqtrade/data/history/idatahandler.py
  freqtrade/exchange/exchange.py
  freqtrade/freqtradebot.py
  freqtrade/optimize/backtesting.py
  freqtrade/util/migrations/__init__.py
  freqtrade/util/migrations/binance_mig.py
  freqtrade/util/migrations/funding_rate_mig.py
  tests/data/test_history.py
  tests/utils/test_binance_mig.py
  tests/utils/test_funding_rate_migration.py
Labels: Non-spot

#9611 Improve Telegram final exit msg
  freqtrade/freqtradebot.py
  freqtrade/rpc/rpc_types.py
  freqtrade/rpc/telegram.py
  tests/rpc/test_rpc_telegram.py
  tests/test_freqtradebot.py
Labels: Enhancement, RPC

#9665 Add No db context to protect certain functions that run in a backtest-like mode
  freqtrade/commands/pairlist_commands.py
  freqtrade/optimize/backtesting.py
  freqtrade/persistence/__init__.py
  freqtrade/persistence/usedb_context.py
  freqtrade/rpc/api_server/api_background_tasks.py
  tests/persistence/test_db_context.py
Labels: Bug

#9680 Ci py12
  .github/workflows/ci.yml
  requirements-freqai-rl.txt
  requirements-freqai.txt
  tests/freqai/conftest.py
  tests/freqai/test_freqai_interface.py
Labels: Tech maintenance

#9681 Add backtesting vs hyperopt result difference explanations
  docs/hyperopt.md
Labels: Hyperopt, Documentation

#9549 Only download tradable pairs
  freqtrade/freqai/utils.py
Labels: freqAI

#9703 feat: allow custom user features to be plotted in backtesting (freqai)
  docs/freqai-configuration.md
  freqtrade/freqai/data_kitchen.py
Labels: freqAI

#9708 shorten configuration code
  freqtrade/configuration/configuration.py
Labels: Tech maintenance

#9733 Remotepairlist: fix parsing json exception , add saving to a file of processed pairlist + docs
  docs/includes/pairlists.md
  freqtrade/plugins/pairlist/RemotePairList.py
  tests/plugins/test_remotepairlist.py
Labels: Pairlist

#9659 Add MarketCapPairList based on CoinGecko
  docs/includes/pairlists.md
  freqtrade/constants.py
  freqtrade/plugins/pairlist/MarketCapPairList.py
  tests/plugins/test_pairlist.py
Labels: Enhancement, Pairlist
