Repository freqtrade/freqtrade, pull requests merged in 2024-05, with the labels that each got.

#10199 fix: allow classifiers to work
  freqtrade/freqai/data_drawer.py
Labels: Bug, freqAI

#10215 Remove catboost stdout workaround
  freqtrade/freqai/prediction_models/CatboostClassifier.py
  freqtrade/freqai/prediction_models/CatboostClassifierMultiTarget.py
  freqtrade/freqai/prediction_models/CatboostRegressor.py
  freqtrade/freqai/prediction_models/CatboostRegressorMultiTarget.py
Labels: Tech maintenance, freqAI

#10229 Support Coingecko api keys
  docs/configuration.md
  freqtrade/constants.py
  freqtrade/plugins/pairlist/MarketCapPairList.py
  freqtrade/rpc/fiat_convert.py
  freqtrade/rpc/rpc.py
  freqtrade/util/coin_gecko.py
  tests/conftest.py
  tests/plugins/test_pairlist.py
  tests/rpc/test_fiat_convert.py
  tests/rpc/test_rpc.py
Labels: Enhancement, RPC

#10249 Add Support for Bingx
  README.md
  docs/exchanges.md
  docs/index.md
  docs/stoploss.md
  freqtrade/commands/build_config_commands.py
  freqtrade/exchange/bingx.py
  freqtrade/exchange/common.py
  requirements.txt
  tests/exchange_online/conftest.py
  tests/exchange_online/test_ccxt_compat.py
Labels: Enhancement

#10265 Update buildx CI setup to supported action combination
  .github/workflows/ci.yml
Labels: Dependencies, Tech maintenance
