Repository freqtrade/freqtrade, pull requests merged in 2025-01, with the labels that each got.

#11188 docs(freqai): point link anchor to right section
  docs/freqai.md
Labels: Documentation, freqAI

#11237 chore(deps): upgrade CCXT from 4.4.47 to 4.4.48
  requirements.txt
Labels: Dependencies, Python

#10062 Feature: Proceed exit while having open order, for backtesting and live
  docs/strategy-callbacks.md
  freqtrade/freqtradebot.py
  freqtrade/optimize/backtesting.py
  freqtrade/persistence/trade_model.py
  tests/conftest.py
  tests/freqtradebot/test_freqtradebot.py
  tests/freqtradebot/test_integration.py
  tests/optimize/__init__.py
  tests/optimize/test_backtest_detail.py
  tests/persistence/test_trade_custom_data.py
Labels: Enhancement

#11248 Improved Backtest timeframe-detail execution logic
  docs/backtesting.md
  freqtrade/optimize/backtesting.py
  freqtrade/persistence/trade_model.py
  tests/optimize/test_backtesting.py
  tests/persistence/test_persistence.py
Labels: Enhancement, Backtest
