Repository freqtrade/freqtrade, pull requests merged in 2025-05, with the labels that each got.

#11692 chore(ci): reenable htx online tests
  .github/workflows/ci.yml
  requirements.txt
  tests/exchange_online/conftest.py
Labels: Tech maintenance

#11158 add support for plot_annotations
  docs/assets/freqUI-chart-annotations-dark.png
  docs/assets/freqUI-chart-annotations-light.png
  docs/strategy-callbacks.md
  freqtrade/ft_types/__init__.py
  freqtrade/ft_types/plot_annotation_type.py
  freqtrade/rpc/api_server/api_schemas.py
  freqtrade/rpc/rpc.py
  freqtrade/strategy/__init__.py
  freqtrade/strategy/interface.py
  freqtrade/templates/base_strategy.py.j2
  freqtrade/templates/strategy_subtemplates/strategy_methods_advanced.j2
  tests/rpc/test_rpc_apiserver.py
Labels: Enhancement, freqUI

#11558 switch hyperopt from scikit-optimize to Optuna
  docs/advanced-hyperopt.md
  docs/faq.md
  docs/hyperopt.md
  freqtrade/optimize/hyperopt/hyperopt.py
  freqtrade/optimize/hyperopt/hyperopt_auto.py
  freqtrade/optimize/hyperopt/hyperopt_interface.py
  freqtrade/optimize/hyperopt/hyperopt_optimizer.py
  freqtrade/optimize/space/__init__.py
  freqtrade/optimize/space/decimalspace.py
  freqtrade/optimize/space/optunaspaces.py
  freqtrade/strategy/parameters.py
  pyproject.toml
  requirements-hyperopt.txt
  tests/optimize/test_hyperopt.py
  tests/strategy/test_interface.py
Labels: Enhancement, Hyperopt

#11711 Improve price precision logic and add significant digits calculation
  freqtrade/data/btanalysis/__init__.py
  freqtrade/data/btanalysis/historic_precision.py
  freqtrade/optimize/backtesting.py
  tests/data/test_historic_precision.py
  tests/optimize/test_backtesting.py
Labels: Enhancement, Backtest

#11738 Update strategy-callbacks.md
  docs/strategy-callbacks.md
Labels: Documentation

#11736 add early stopping for hyperopt
  docs/commands/hyperopt.md
  docs/hyperopt.md
  freqtrade/commands/arguments.py
  freqtrade/commands/cli_options.py
  freqtrade/configuration/configuration.py
  freqtrade/optimize/hyperopt/hyperopt.py
  freqtrade/optimize/hyperopt/hyperopt_optimizer.py
  tests/optimize/test_hyperopt.py
Labels: Enhancement, Hyperopt

#11758 Add min/max trade duration to backtest results
  freqtrade/optimize/optimize_reports/bt_output.py
  freqtrade/optimize/optimize_reports/optimize_reports.py
  freqtrade/util/__init__.py
  freqtrade/util/formatters.py
  tests/optimize/test_optimize_reports.py
  tests/util/test_formatters.py
Labels: Backtest

#11588 fix: remove spaces from rename_dict/rename_dict_old in BaseReinforcementLearningModel
  freqtrade/freqai/RL/BaseReinforcementLearningModel.py
Labels: freqAI

#11490 Fix continual learning pytorch
  freqtrade/freqai/freqai_interface.py
Labels: Bug, freqAI

#11656 Add custom_roi() strategy callback
  docs/strategy-callbacks.md
  freqtrade/optimize/backtesting.py
  freqtrade/strategy/interface.py
  freqtrade/templates/strategy_subtemplates/strategy_methods_advanced.j2
  tests/strategy/test_interface.py
Labels: Enhancement

#11790 docs: add "exit logic comparisons" table
  docs/includes/strategy-exit-comparisons.md
  docs/strategy-callbacks.md
Labels: Documentation

#11805 fix hyperopt repeated parameters between batches
  freqtrade/optimize/hyperopt/hyperopt.py
  freqtrade/optimize/hyperopt/hyperopt_optimizer.py
Labels: Hyperopt
