Repository freqtrade/freqtrade, pull requests merged in 2025-04, with the labels that each got.

#11539 Feature: add paused state
  build_helpers/schema.json
  docs/advanced-setup.md
  docs/configuration.md
  docs/rest-api.md
  docs/telegram-usage.md
  freqtrade/configuration/config_schema.py
  freqtrade/enums/state.py
  freqtrade/freqtradebot.py
  freqtrade/rpc/api_server/api_v1.py
  freqtrade/rpc/rpc.py
  freqtrade/rpc/telegram.py
  freqtrade/worker.py
  tests/freqtradebot/test_worker.py
  tests/rpc/test_rpc.py
  tests/rpc/test_rpc_apiserver.py
  tests/rpc/test_rpc_telegram.py
Labels: Enhancement

#11599 Add custom pre-commit hook for schema extraction
  .pre-commit-config.yaml
  build_helpers/extract_config_json_schema.py
  freqtrade/config_schema/__init__.py
  freqtrade/config_schema/config_schema.py
  freqtrade/configuration/config_validation.py
Labels: Tech maintenance

#11616 Make XgboostMulti an alias of Xgboost
  freqtrade/freqai/prediction_models/XGBoostRegressorMultiTarget.py
Labels: freqAI

#11627 Ftclient trades order fix
  freqtrade/rpc/api_server/api_v1.py
  ft_client/freqtrade_client/ft_rest_client.py
  ft_client/test_client/test_rest_client.py
  tests/rpc/test_rpc_apiserver.py
Labels: Enhancement, RPC
